@page
@model VisitCompany.Pages.checklist.ChecklistMenuModel
@{
    Layout = "Shared/_AdminLayout";
}
<h3>لطفا چک لیست مورد نظر را انتخاب کنید</h3>

<br />

<form method="post" asp-page-handler="Switch">

    <br />
    <button type="submit" name="action" value="CreateJunior">   ارزیابی جونیپر</button>
    <button type="submit" name="action" value="CreateHPEDL380">   ارزیابی HP</button>
    <button type="submit" name="action" value="Createwin2019">   ارزیابی Win2019 </button>
    <button type="submit" name="action" value="CreateGeneralCheck">   ارزیابی عمومی </button>
</form>
