@page
@model VisitCompany.Pages.checklist.CreateHPEDL380Model
@{
    Layout = "Shared/_AdminLayout";
    ViewData["Title"] = " ایجاد چک لیست ";
}

<div class="modal-header">
    <h4 class="modal-title">چک لیست ارزیابی شرکت ها-Juniper Assets</h4>
</div>
<form method="post">


    <div class="modal-body">
        <div class="row">
            <!-- IsTPMEnabledAndRO -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsTPMEnabledAndRO">نمره TPM فعال و فقط خواندنی</label>
                    <input type="range" asp-for="Command.IsTPMEnabledAndRO" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showIsTPMEnabledAndRO" onclick="toggleTextInput('showIsTPMEnabledAndRO', 'isTPMEnabledAndROContainer')">
                    <label for="showIsTPMEnabledAndRO">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="isTPMEnabledAndROContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsTPMEnabledAndROdescription">
                    <span asp-validation-for="Command.IsTPMEnabledAndROdescription" class="error"></span>
                </div>
            </div>

            <!-- AreAppropriateUsernamesCreated -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.AreAppropriateUsernamesCreated">نمره ایجاد نام کاربری مناسب</label>
                    <input type="range" asp-for="Command.AreAppropriateUsernamesCreated" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showAreAppropriateUsernamesCreated" onclick="toggleTextInput('showAreAppropriateUsernamesCreated', 'areAppropriateUsernamesCreatedContainer')">
                    <label for="showAreAppropriateUsernamesCreated">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="areAppropriateUsernamesCreatedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.AreAppropriateUsernamesCreateddescription">
                    <span asp-validation-for="Command.AreAppropriateUsernamesCreateddescription" class="error"></span>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <!-- AreAppropriateGroupsCreated -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.AreAppropriateGroupsCreated">نمره ایجاد گروه‌های مناسب</label>
                    <input type="range" asp-for="Command.AreAppropriateGroupsCreated" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showAreAppropriateGroupsCreated" onclick="toggleTextInput('showAreAppropriateGroupsCreated', 'areAppropriateGroupsCreatedContainer')">
                    <label for="showAreAppropriateGroupsCreated">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="areAppropriateGroupsCreatedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.AreAppropriateGroupsCreateddescription">
                    <span asp-validation-for="Command.AreAppropriateGroupsCreateddescription" class="error"></span>
                </div>
            </div>

            <!-- AreNetworkSettingsForILOConfigured -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.AreNetworkSettingsForILOConfigured">نمره تنظیمات شبکه برای ILO</label>
                    <input type="range" asp-for="Command.AreNetworkSettingsForILOConfigured" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showAreNetworkSettingsForILOConfigured" onclick="toggleTextInput('showAreNetworkSettingsForILOConfigured', 'areNetworkSettingsForILOConfiguredContainer')">
                    <label for="showAreNetworkSettingsForILOConfigured">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="areNetworkSettingsForILOConfiguredContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.AreNetworkSettingsForILOConfigureddescription">
                    <span asp-validation-for="Command.AreNetworkSettingsForILOConfigureddescription" class="error"></span>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <!-- AreInitialSettingsForILOConfigured -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.AreInitialSettingsForILOConfigured">نمره تنظیمات اولیه برای ILO</label>
                    <input type="range" asp-for="Command.AreInitialSettingsForILOConfigured" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showAreInitialSettingsForILOConfigured" onclick="toggleTextInput('showAreInitialSettingsForILOConfigured', 'areInitialSettingsForILOConfiguredContainer')">
                    <label for="showAreInitialSettingsForILOConfigured">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="areInitialSettingsForILOConfiguredContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.AreInitialSettingsForILOConfigureddescription">
                    <span asp-validation-for="Command.AreInitialSettingsForILOConfigureddescription" class="error"></span>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <!-- IsServerNameAndFQDNSet -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.IsServerNameAndFQDNSet">نمره تنظیم نام سرور و FQDN</label>
                <input type="range" asp-for="Command.IsServerNameAndFQDNSet" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showIsServerNameAndFQDNSet" onclick="toggleTextInput('showIsServerNameAndFQDNSet', 'isServerNameAndFQDNSetContainer')">
                <label for="showIsServerNameAndFQDNSet">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="isServerNameAndFQDNSetContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.IsServerNameAndFQDNSetdescription">
                <span asp-validation-for="Command.IsServerNameAndFQDNSetdescription" class="error"></span>
            </div>
        </div>

        <!-- IsAccountServiceConfigured -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.IsAccountServiceConfigured">نمره تنظیم سرویس حساب</label>
                <input type="range" asp-for="Command.IsAccountServiceConfigured" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showIsAccountServiceConfigured" onclick="toggleTextInput('showIsAccountServiceConfigured', 'isAccountServiceConfiguredContainer')">
                <label for="showIsAccountServiceConfigured">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="isAccountServiceConfiguredContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.IsAccountServiceConfigureddescription">
                <span asp-validation-for="Command.IsAccountServiceConfigureddescription" class="error"></span>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <!-- AreILOPortAndUSBPortConfigured -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.AreILOPortAndUSBPortConfigured">نمره تنظیم پورت‌های ILO و USB</label>
                <input type="range" asp-for="Command.AreILOPortAndUSBPortConfigured" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showAreILOPortAndUSBPortConfigured" onclick="toggleTextInput('showAreILOPortAndUSBPortConfigured', 'areILOPortAndUSBPortConfiguredContainer')">
                <label for="showAreILOPortAndUSBPortConfigured">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="areILOPortAndUSBPortConfiguredContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.AreILOPortAndUSBPortConfigureddescription">
                <span asp-validation-for="Command.AreILOPortAndUSBPortConfigureddescription" class="error"></span>
            </div>
        </div>

        <!-- AreSSHKeysEnabled -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.AreSSHKeysEnabled">نمره فعال‌سازی کلیدهای SSH</label>
                <input type="range" asp-for="Command.AreSSHKeysEnabled" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showAreSSHKeysEnabled" onclick="toggleTextInput('showAreSSHKeysEnabled', 'areSSHKeysEnabledContainer')">
                <label for="showAreSSHKeysEnabled">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="areSSHKeysEnabledContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.AreSSHKeysEnableddescription">
                <span asp-validation-for="Command.AreSSHKeysEnableddescription" class="error"></span>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <!-- AreUserCertificatesConfigured -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.AreUserCertificatesConfigured">نمره تنظیم گواهینامه‌های کاربران</label>
                <input type="range" asp-for="Command.AreUserCertificatesConfigured" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showAreUserCertificatesConfigured" onclick="toggleTextInput('showAreUserCertificatesConfigured', 'areUserCertificatesConfiguredContainer')">
                <label for="showAreUserCertificatesConfigured">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="areUserCertificatesConfiguredContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.AreUserCertificatesConfigureddescription">
                <span asp-validation-for="Command.AreUserCertificatesConfigureddescription" class="error"></span>
            </div>
        </div>

        <!-- AreSystemCertificatesConfigured -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.AreSystemCertificatesConfigured">نمره تنظیم گواهینامه‌های سیستم</label>
                <input type="range" asp-for="Command.AreSystemCertificatesConfigured" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showAreSystemCertificatesConfigured" onclick="toggleTextInput('showAreSystemCertificatesConfigured', 'areSystemCertificatesConfiguredContainer')">
                <label for="showAreSystemCertificatesConfigured">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="areSystemCertificatesConfiguredContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.AreSystemCertificatesConfigureddescription">
                <span asp-validation-for="Command.AreSystemCertificatesConfigureddescription" class="error"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- IsEncryptionConfigured -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.IsEncryptionConfigured">نمره پیکربندی رمزگذاری</label>
                <input type="range" asp-for="Command.IsEncryptionConfigured" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showIsEncryptionConfigured" onclick="toggleTextInput('showIsEncryptionConfigured', 'isEncryptionConfiguredContainer')">
                <label for="showIsEncryptionConfigured">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="isEncryptionConfiguredContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.IsEncryptionConfigureddescription">
                <span asp-validation-for="Command.IsEncryptionConfigureddescription" class="error"></span>
            </div>
        </div>

        <!-- IsUEFISecurityConfigured -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.IsUEFISecurityConfigured">نمره پیکربندی امنیت UEFI</label>
                <input type="range" asp-for="Command.IsUEFISecurityConfigured" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showIsUEFISecurityConfigured" onclick="toggleTextInput('showIsUEFISecurityConfigured', 'isUEFISecurityConfiguredContainer')">
                <label for="showIsUEFISecurityConfigured">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="isUEFISecurityConfiguredContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.IsUEFISecurityConfigureddescription">
                <span asp-validation-for="Command.IsUEFISecurityConfigureddescription" class="error"></span>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <!-- IsSecureBootConfigured -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.IsSecureBootConfigured">نمره پیکربندی بوت امن</label>
                <input type="range" asp-for="Command.IsSecureBootConfigured" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showIsSecureBootConfigured" onclick="toggleTextInput('showIsSecureBootConfigured', 'isSecureBootConfiguredContainer')">
                <label for="showIsSecureBootConfigured">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="isSecureBootConfiguredContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.IsSecureBootConfigureddescription">
                <span asp-validation-for="Command.IsSecureBootConfigureddescription" class="error"></span>
            </div>
        </div>

        <!-- IsTPMConfigured -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.IsTPMConfigured">نمره پیکربندی TPM</label>
                <input type="range" asp-for="Command.IsTPMConfigured" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showIsTPMConfigured" onclick="toggleTextInput('showIsTPMConfigured', 'isTPMConfiguredContainer')">
                <label for="showIsTPMConfigured">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="isTPMConfiguredContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.IsTPMConfigureddescription">
                <span asp-validation-for="Command.IsTPMConfigureddescription" class="error"></span>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <!-- AreInitialILOSettingsConfigured -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.AreInitialILOSettingsConfigured">نمره تنظیمات اولیه ILO</label>
                <input type="range" asp-for="Command.AreInitialILOSettingsConfigured" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showAreInitialILOSettingsConfigured" onclick="toggleTextInput('showAreInitialILOSettingsConfigured', 'areInitialILOSettingsConfiguredContainer')">
                <label for="showAreInitialILOSettingsConfigured">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="areInitialILOSettingsConfiguredContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.AreInitialILOSettingsConfigureddescription">
                <span asp-validation-for="Command.AreInitialILOSettingsConfigureddescription" class="error"></span>
            </div>
        </div>

        <!-- IsDiskAndRaidConfigDeletionDisabled -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.IsDiskAndRaidConfigDeletionDisabled">نمره غیرفعال‌سازی حذف پیکربندی دیسک و RAID</label>
                <input type="range" asp-for="Command.IsDiskAndRaidConfigDeletionDisabled" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showIsDiskAndRaidConfigDeletionDisabled" onclick="toggleTextInput('showIsDiskAndRaidConfigDeletionDisabled', 'isDiskAndRaidConfigDeletionDisabledContainer')">
                <label for="showIsDiskAndRaidConfigDeletionDisabled">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="isDiskAndRaidConfigDeletionDisabledContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.IsDiskAndRaidConfigDeletionDisableddescription">
                <span asp-validation-for="Command.IsDiskAndRaidConfigDeletionDisableddescription" class="error"></span>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <!-- AreProvisioningSettingsDeleted -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.AreProvisioningSettingsDeleted">نمره حذف تنظیمات راه‌اندازی</label>
                <input type="range" asp-for="Command.AreProvisioningSettingsDeleted" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showAreProvisioningSettingsDeleted" onclick="toggleTextInput('showAreProvisioningSettingsDeleted', 'areProvisioningSettingsDeletedContainer')">
                <label for="showAreProvisioningSettingsDeleted">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="areProvisioningSettingsDeletedContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.AreProvisioningSettingsDeleteddescription">
                <span asp-validation-for="Command.AreProvisioningSettingsDeleteddescription" class="error"></span>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Command.FinallDescription" class="control-label">توضیحات</label>
            <input type="text" class="form-control" asp-for="Command.FinallDescription">
            <span  class="error"></span>
        </div>
    </div>


    <div class="modal-footer">        
    <input type="hidden" asp-for="Command.ChecklistId" />

    <button type="submit" class="btn btn-info waves-effect waves-light">بعدی</button>
</div>

</form>

<script>
    function toggleTextInput(checkboxId, containerId) {
        var checkBox = document.getElementById(checkboxId);
        var textInputContainer = document.getElementById(containerId);
        if (checkBox.checked) {
            textInputContainer.style.display = "block";
        } else {
            textInputContainer.style.display = "none";
        }
    }
</script>
