@page
@model VisitCompany.Pages.checklist.Createwin2019Model
@{
    Layout = "Shared/_AdminLayout";
    ViewData["Title"] = " ایجاد چک لیست ";
}

<div class="modal-header">
    <h4 class="modal-title">چک لیست ارزیابی شرکت ها-Win2019 Assets</h4>
</div>
<form method="post">
       <div class="modal-body">
        <div class="row">
            <!-- Password History Enabled -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsPasswordHistoryEnabled">نمره فعال بودن تاریخچه رمز عبور</label>
                    <input type="range" asp-for="Command.IsPasswordHistoryEnabled" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showPasswordHistoryEnabled" onclick="toggleTextInput('showPasswordHistoryEnabled', 'passwordHistoryEnabledContainer')">
                    <label for="showPasswordHistoryEnabled">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="passwordHistoryEnabledContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsPasswordHistoryEnabledDescription">
                    <span asp-validation-for="Command.IsPasswordHistoryEnabledDescription" class="error"></span>
                </div>
            </div>

            <!-- Max Password Age Configured -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsMaxPasswordAgeConfigured">نمره تنظیم حداکثر عمر رمز عبور</label>
                    <input type="range" asp-for="Command.IsMaxPasswordAgeConfigured" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showMaxPasswordAgeConfigured" onclick="toggleTextInput('showMaxPasswordAgeConfigured', 'maxPasswordAgeConfiguredContainer')">
                    <label for="showMaxPasswordAgeConfigured">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="maxPasswordAgeConfiguredContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsMaxPasswordAgeConfiguredDescription">
                    <span asp-validation-for="Command.IsMaxPasswordAgeConfiguredDescription" class="error"></span>
                </div>
            </div>
        </div>
        
        <!-- Similar block for other variables -->
        
        <div class="row">
            <!-- Min Password Age Configured -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsMinPasswordAgeConfigured">نمره تنظیم حداقل عمر رمز عبور</label>
                    <input type="range" asp-for="Command.IsMinPasswordAgeConfigured" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showMinPasswordAgeConfigured" onclick="toggleTextInput('showMinPasswordAgeConfigured', 'minPasswordAgeConfiguredContainer')">
                    <label for="showMinPasswordAgeConfigured">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="minPasswordAgeConfiguredContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsMinPasswordAgeConfiguredDescription">
                    <span asp-validation-for="Command.IsMinPasswordAgeConfiguredDescription" class="error"></span>
                </div>
            </div>

            <!-- Min Password Length Configured -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsMinPasswordLengthConfigured">نمره تنظیم حداقل طول رمز عبور</label>
                    <input type="range" asp-for="Command.IsMinPasswordLengthConfigured" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showMinPasswordLengthConfigured" onclick="toggleTextInput('showMinPasswordLengthConfigured', 'minPasswordLengthConfiguredContainer')">
                    <label for="showMinPasswordLengthConfigured">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="minPasswordLengthConfiguredContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsMinPasswordLengthConfiguredDescription">
                    <span asp-validation-for="Command.IsMinPasswordLengthConfiguredDescription" class="error"></span>
                </div>
            </div>
        </div>
        
        
        
        <div class="modal-body">
            <div class="row">
                <!-- Complex Password Required -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Command.IsComplexPasswordRequired">نمره نیاز به رمز عبور پیچیده</label>
                        <input type="range" asp-for="Command.IsComplexPasswordRequired" min="0" max="100" />
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="showComplexPasswordRequired" onclick="toggleTextInput('showComplexPasswordRequired', 'complexPasswordRequiredContainer')">
                        <label for="showComplexPasswordRequired">افزودن توضیحات</label>
                    </div>
                    <div class="form-group" id="complexPasswordRequiredContainer" style="display:none;">
                        <input type="text" class="form-control" asp-for="Command.IsComplexPasswordRequiredDescription">
                        <span asp-validation-for="Command.IsComplexPasswordRequiredDescription" class="error"></span>
                    </div>
                </div>

                <!-- Plain Text Password Storage Disabled -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Command.IsPlainTextPasswordStorageDisabled">نمره غیرفعال‌سازی ذخیره‌سازی رمز عبور به صورت متن ساده</label>
                        <input type="range" asp-for="Command.IsPlainTextPasswordStorageDisabled" min="0" max="100" />
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="showPlainTextPasswordStorageDisabled" onclick="toggleTextInput('showPlainTextPasswordStorageDisabled', 'plainTextPasswordStorageDisabledContainer')">
                        <label for="showPlainTextPasswordStorageDisabled">افزودن توضیحات</label>
                    </div>
                    <div class="form-group" id="plainTextPasswordStorageDisabledContainer" style="display:none;">
                        <input type="text" class="form-control" asp-for="Command.IsPlainTextPasswordStorageDisabledDescription">
                        <span asp-validation-for="Command.IsPlainTextPasswordStorageDisabledDescription" class="error"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Account Lockout Duration Configured -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Command.IsAccountLockoutDurationConfigured">نمره تنظیم مدت زمان قفل شدن حساب</label>
                        <input type="range" asp-for="Command.IsAccountLockoutDurationConfigured" min="0" max="100" />
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="showAccountLockoutDurationConfigured" onclick="toggleTextInput('showAccountLockoutDurationConfigured', 'accountLockoutDurationConfiguredContainer')">
                        <label for="showAccountLockoutDurationConfigured">افزودن توضیحات</label>
                    </div>
                    <div class="form-group" id="accountLockoutDurationConfiguredContainer" style="display:none;">
                        <input type="text" class="form-control" asp-for="Command.IsAccountLockoutDurationConfiguredDescription">
                        <span asp-validation-for="Command.IsAccountLockoutDurationConfiguredDescription" class="error"></span>
                    </div>
                </div>

                <!-- Failed Logon Attempts Limited -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Command.IsFailedLogonAttemptsLimited">نمره محدودیت در تعداد تلاش‌های ناموفق برای ورود</label>
                        <input type="range" asp-for="Command.IsFailedLogonAttemptsLimited" min="0" max="100" />
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="showFailedLogonAttemptsLimited" onclick="toggleTextInput('showFailedLogonAttemptsLimited', 'failedLogonAttemptsLimitedContainer')">
                        <label for="showFailedLogonAttemptsLimited">افزودن توضیحات</label>
                    </div>
                    <div class="form-group" id="failedLogonAttemptsLimitedContainer" style="display:none;">
                        <input type="text" class="form-control" asp-for="Command.IsFailedLogonAttemptsLimitedDescription">
                        <span asp-validation-for="Command.IsFailedLogonAttemptsLimitedDescription" class="error"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Admin Lockout Configured -->
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Command.IsAdminLockoutConfigured">نمره تنظیم قفل شدن ادمین</label>
                        <input type="range" asp-for="Command.IsAdminLockoutConfigured" min="0" max="100" />
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="showAdminLockoutConfigured" onclick="toggleTextInput('showAdminLockoutConfigured', 'adminLockoutConfiguredContainer')">
                        <label for="showAdminLockoutConfigured">افزودن توضیحات</label>
                    </div>
                    <div class="form-group" id="adminLockoutConfiguredContainer" style="display:none;">
                        <input type="text" class="form-control" asp-for="Command.IsAdminLockoutConfiguredDescription">
                        <span asp-validation-for="Command.IsAdminLockoutConfiguredDescription" class="error"></span>
                    </div>
                </div>
            </div>
        
        </div>
        
              <div class="row">
            <!-- Password Reset Error Count Configured -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsPasswordResetErrorCountConfigured">نمره تنظیم تعداد خطاهای بازنشانی رمز عبور</label>
                    <input type="range" asp-for="Command.IsPasswordResetErrorCountConfigured" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showPasswordResetErrorCountConfigured" onclick="toggleTextInput('showPasswordResetErrorCountConfigured', 'passwordResetErrorCountConfiguredContainer')">
                    <label for="showPasswordResetErrorCountConfigured">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="passwordResetErrorCountConfiguredContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsPasswordResetErrorCountConfiguredDescription">
                    <span asp-validation-for="Command.IsPasswordResetErrorCountConfiguredDescription" class="error"></span>
                </div>
            </div>

            <!-- User Account Management Restricted -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsUserAccountManagementRestricted">نمره محدودیت مدیریت حساب کاربری</label>
                    <input type="range" asp-for="Command.IsUserAccountManagementRestricted" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showUserAccountManagementRestricted" onclick="toggleTextInput('showUserAccountManagementRestricted', 'userAccountManagementRestrictedContainer')">
                    <label for="showUserAccountManagementRestricted">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="userAccountManagementRestrictedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsUserAccountManagementRestrictedDescription">
                    <span asp-validation-for="Command.IsUserAccountManagementRestrictedDescription" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Remote Access Managed -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsRemoteAccessManaged">نمره مدیریت دسترسی از راه دور</label>
                    <input type="range" asp-for="Command.IsRemoteAccessManaged" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showRemoteAccessManaged" onclick="toggleTextInput('showRemoteAccessManaged', 'remoteAccessManagedContainer')">
                    <label for="showRemoteAccessManaged">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="remoteAccessManagedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsRemoteAccessManagedDescription">
                    <span asp-validation-for="Command.IsRemoteAccessManagedDescription" class="error"></span>
                </div>
            </div>

            <!-- OS Account Access Limited -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsOSAccountAccessLimited">نمره محدودیت دسترسی به حساب سیستم عامل</label>
                    <input type="range" asp-for="Command.IsOSAccountAccessLimited" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showOSAccountAccessLimited" onclick="toggleTextInput('showOSAccountAccessLimited', 'osAccountAccessLimitedContainer')">
                    <label for="showOSAccountAccessLimited">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="osAccountAccessLimitedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsOSAccountAccessLimitedDescription">
                    <span asp-validation-for="Command.IsOSAccountAccessLimitedDescription" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Domain Join Restricted -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsDomainJoinRestricted">نمره محدودیت اتصال به دامین</label>
                    <input type="range" asp-for="Command.IsDomainJoinRestricted" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showDomainJoinRestricted" onclick="toggleTextInput('showDomainJoinRestricted', 'domainJoinRestrictedContainer')">
                    <label for="showDomainJoinRestricted">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="domainJoinRestrictedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsDomainJoinRestrictedDescription">
                    <span asp-validation-for="Command.IsDomainJoinRestrictedDescription" class="error"></span>
                </div>
            </div>
        </div>
        
        
           <div class="row">
            <!-- Memory Management Permission Granted -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsMemoryManagementPermissionGranted">نمره مجوز مدیریت حافظه</label>
                    <input type="range" asp-for="Command.IsMemoryManagementPermissionGranted" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showMemoryManagementPermissionGranted" onclick="toggleTextInput('showMemoryManagementPermissionGranted', 'memoryManagementPermissionGrantedContainer')">
                    <label for="showMemoryManagementPermissionGranted">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="memoryManagementPermissionGrantedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsMemoryManagementPermissionGrantedDescription">
                    <span asp-validation-for="Command.IsMemoryManagementPermissionGrantedDescription" class="error"></span>
                </div>
            </div>

            <!-- Local Console Logon Restricted -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsLocalConsoleLogonRestricted">نمره محدودیت ورود به کنسول محلی</label>
                    <input type="range" asp-for="Command.IsLocalConsoleLogonRestricted" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showLocalConsoleLogonRestricted" onclick="toggleTextInput('showLocalConsoleLogonRestricted', 'localConsoleLogonRestrictedContainer')">
                    <label for="showLocalConsoleLogonRestricted">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="localConsoleLogonRestrictedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsLocalConsoleLogonRestrictedDescription">
                    <span asp-validation-for="Command.IsLocalConsoleLogonRestrictedDescription" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Remote Logon Group Managed -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsRemoteLogonGroupManaged">نمره مدیریت گروه ورود از راه دور</label>
                    <input type="range" asp-for="Command.IsRemoteLogonGroupManaged" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showRemoteLogonGroupManaged" onclick="toggleTextInput('showRemoteLogonGroupManaged', 'remoteLogonGroupManagedContainer')">
                    <label for="showRemoteLogonGroupManaged">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="remoteLogonGroupManagedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsRemoteLogonGroupManagedDescription">
                    <span asp-validation-for="Command.IsRemoteLogonGroupManagedDescription" class="error"></span>
                </div>
            </div>

            <!-- Backup Access Managed -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsBackupAccessManaged">نمره مدیریت دسترسی به پشتیبان گیری</label>
                    <input type="range" asp-for="Command.IsBackupAccessManaged" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showBackupAccessManaged" onclick="toggleTextInput('showBackupAccessManaged', 'backupAccessManagedContainer')">
                    <label for="showBackupAccessManaged">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="backupAccessManagedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsBackupAccessManagedDescription">
                    <span asp-validation-for="Command.IsBackupAccessManagedDescription" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- System Time Change Managed -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsSystemTimeChangeManaged">نمره مدیریت تغییر زمان سیستم</label>
                    <input type="range" asp-for="Command.IsSystemTimeChangeManaged" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showSystemTimeChangeManaged" onclick="toggleTextInput('showSystemTimeChangeManaged', 'systemTimeChangeManagedContainer')">
                    <label for="showSystemTimeChangeManaged">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="systemTimeChangeManagedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsSystemTimeChangeManagedDescription">
                    <span asp-validation-for="Command.IsSystemTimeChangeManagedDescription" class="error"></span>
                </div>
            </div>

            <!-- Access Token Creation Limited -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsAccessTokenCreationLimited">نمره محدودیت ایجاد توکن دسترسی</label>
                    <input type="range" asp-for="Command.IsAccessTokenCreationLimited" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showAccessTokenCreationLimited" onclick="toggleTextInput('showAccessTokenCreationLimited', 'accessTokenCreationLimitedContainer')">
                    <label for="showAccessTokenCreationLimited">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="accessTokenCreationLimitedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsAccessTokenCreationLimitedDescription">
                    <span asp-validation-for="Command.IsAccessTokenCreationLimitedDescription" class="error"></span>
                </div>
            </div>
        </div>
        
        
        
           <div class="row">
            <!-- Remote Logon Restricted For Guests -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsRemoteLogonRestrictedForGuests">نمره محدودیت ورود از راه دور برای مهمان‌ها</label>
                    <input type="range" asp-for="Command.IsRemoteLogonRestrictedForGuests" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showRemoteLogonRestrictedForGuests" onclick="toggleTextInput('showRemoteLogonRestrictedForGuests', 'remoteLogonRestrictedForGuestsContainer')">
                    <label for="showRemoteLogonRestrictedForGuests">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="remoteLogonRestrictedForGuestsContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsRemoteLogonRestrictedForGuestsDescription">
                    <span asp-validation-for="Command.IsRemoteLogonRestrictedForGuestsDescription" class="error"></span>
                </div>
            </div>

            <!-- Scheduled Tasks Permission Managed -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsScheduledTasksPermissionManaged">نمره مدیریت دسترسی به وظایف زمان‌بندی شده</label>
                    <input type="range" asp-for="Command.IsScheduledTasksPermissionManaged" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showScheduledTasksPermissionManaged" onclick="toggleTextInput('showScheduledTasksPermissionManaged', 'scheduledTasksPermissionManagedContainer')">
                    <label for="showScheduledTasksPermissionManaged">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="scheduledTasksPermissionManagedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsScheduledTasksPermissionManagedDescription">
                    <span asp-validation-for="Command.IsScheduledTasksPermissionManagedDescription" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Logon As Service Permission Managed -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsLogonAsServicePermissionManaged">نمره مدیریت مجوز ورود به عنوان سرویس</label>
                    <input type="range" asp-for="Command.IsLogonAsServicePermissionManaged" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showLogonAsServicePermissionManaged" onclick="toggleTextInput('showLogonAsServicePermissionManaged', 'logonAsServicePermissionManagedContainer')">
                    <label for="showLogonAsServicePermissionManaged">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="logonAsServicePermissionManagedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsLogonAsServicePermissionManagedDescription">
                    <span asp-validation-for="Command.IsLogonAsServicePermissionManagedDescription" class="error"></span>
                </div>
            </div>

            <!-- Guest Logon Managed -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsGuestLogonManaged">نمره مدیریت ورود مهمان</label>
                    <input type="range" asp-for="Command.IsGuestLogonManaged" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showGuestLogonManaged" onclick="toggleTextInput('showGuestLogonManaged', 'guestLogonManagedContainer')">
                    <label for="showGuestLogonManaged">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="guestLogonManagedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsGuestLogonManagedDescription">
                    <span asp-validation-for="Command.IsGuestLogonManagedDescription" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Local Account Logon Managed -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsLocalAccountLogonManaged">نمره مدیریت ورود حساب محلی</label>
                    <input type="range" asp-for="Command.IsLocalAccountLogonManaged" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showLocalAccountLogonManaged" onclick="toggleTextInput('showLocalAccountLogonManaged', 'localAccountLogonManagedContainer')">
                    <label for="showLocalAccountLogonManaged">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="localAccountLogonManagedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsLocalAccountLogonManagedDescription">
                    <span asp-validation-for="Command.IsLocalAccountLogonManagedDescription" class="error"></span>
                </div>
            </div>

            <!-- Logon As Service Settings Applied -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsLogonAsServiceSettingsApplied">نمره اعمال تنظیمات ورود به عنوان سرویس</label>
                    <input type="range" asp-for="Command.IsLogonAsServiceSettingsApplied" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showLogonAsServiceSettingsApplied" onclick="toggleTextInput('showLogonAsServiceSettingsApplied', 'logonAsServiceSettingsAppliedContainer')">
                    <label for="showLogonAsServiceSettingsApplied">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="logonAsServiceSettingsAppliedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsLogonAsServiceSettingsAppliedDescription">
                    <span asp-validation-for="Command.IsLogonAsServiceSettingsAppliedDescription" class="error"></span>
                </div>
            </div>
        </div>

             <div class="row">
            <!-- Remote Shutdown Permission Managed -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsRemoteShutdownPermissionManaged">نمره مدیریت دسترسی به خاموش کردن از راه دور</label>
                    <input type="range" asp-for="Command.IsRemoteShutdownPermissionManaged" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showRemoteShutdownPermissionManaged" onclick="toggleTextInput('showRemoteShutdownPermissionManaged', 'remoteShutdownPermissionManagedContainer')">
                    <label for="showRemoteShutdownPermissionManaged">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="remoteShutdownPermissionManagedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsRemoteShutdownPermissionManagedDescription">
                    <span asp-validation-for="Command.IsRemoteShutdownPermissionManagedDescription" class="error"></span>
                </div>
            </div>

            <!-- Administrator Username Changed -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsAdministratorUsernameChanged">نمره تغییر نام کاربری مدیر</label>
                    <input type="range" asp-for="Command.IsAdministratorUsernameChanged" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showAdministratorUsernameChanged" onclick="toggleTextInput('showAdministratorUsernameChanged', 'administratorUsernameChangedContainer')">
                    <label for="showAdministratorUsernameChanged">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="administratorUsernameChangedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsAdministratorUsernameChangedDescription">
                    <span asp-validation-for="Command.IsAdministratorUsernameChangedDescription" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Cached Username Count Managed -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsCachedUsernameCountManaged">نمره مدیریت تعداد نام‌های کاربری ذخیره شده</label>
                    <input type="range" asp-for="Command.IsCachedUsernameCountManaged" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showCachedUsernameCountManaged" onclick="toggleTextInput('showCachedUsernameCountManaged', 'cachedUsernameCountManagedContainer')">
                    <label for="showCachedUsernameCountManaged">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="cachedUsernameCountManagedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsCachedUsernameCountManagedDescription">
                    <span asp-validation-for="Command.IsCachedUsernameCountManagedDescription" class="error"></span>
                </div>
            </div>

            <!-- Password Expiration Warning Managed -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsPasswordExpirationWarningManaged">نمره مدیریت هشدار انقضای رمز عبور</label>
                    <input type="range" asp-for="Command.IsPasswordExpirationWarningManaged" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showPasswordExpirationWarningManaged" onclick="toggleTextInput('showPasswordExpirationWarningManaged', 'passwordExpirationWarningManagedContainer')">
                    <label for="showPasswordExpirationWarningManaged">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="passwordExpirationWarningManagedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsPasswordExpirationWarningManagedDescription">
                    <span asp-validation-for="Command.IsPasswordExpirationWarningManagedDescription" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Anonymous SID Request Managed -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsAnonymousSIDRequestManaged">نمره مدیریت درخواست SID ناشناس</label>
                    <input type="range" asp-for="Command.IsAnonymousSIDRequestManaged" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showAnonymousSIDRequestManaged" onclick="toggleTextInput('showAnonymousSIDRequestManaged', 'anonymousSIDRequestManagedContainer')">
                    <label for="showAnonymousSIDRequestManaged">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="anonymousSIDRequestManagedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsAnonymousSIDRequestManagedDescription">
                    <span asp-validation-for="Command.IsAnonymousSIDRequestManagedDescription" class="error"></span>
                </div>
            </div>

            <!-- NTFSMedia Access Managed -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsNTFSMediaAccessManaged">نمره مدیریت دسترسی به رسانه‌های NTFS</label>
                    <input type="range" asp-for="Command.IsNTFSMediaAccessManaged" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showNTFSMediaAccessManaged" onclick="toggleTextInput('showNTFSMediaAccessManaged', 'ntfsMediaAccessManagedContainer')">
                    <label for="showNTFSMediaAccessManaged">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="ntfsMediaAccessManagedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsNTFSMediaAccessManagedDescription">
                    <span asp-validation-for="Command.IsNTFSMediaAccessManagedDescription" class="error"></span>
                </div>
            </div>
        </div>
        
        
              <div class="row">
            <!-- Shared Printer Driver Installation Managed -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsSharedPrinterDriverInstallationManaged">نمره مدیریت نصب درایور چاپگر اشتراکی</label>
                    <input type="range" asp-for="Command.IsSharedPrinterDriverInstallationManaged" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showSharedPrinterDriverInstallationManaged" onclick="toggleTextInput('showSharedPrinterDriverInstallationManaged', 'sharedPrinterDriverInstallationManagedContainer')">
                    <label for="showSharedPrinterDriverInstallationManaged">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="sharedPrinterDriverInstallationManagedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsSharedPrinterDriverInstallationManagedDescription">
                    <span asp-validation-for="Command.IsSharedPrinterDriverInstallationManagedDescription" class="error"></span>
                </div>
            </div>

            <!-- Printer Spooler Service Managed -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsPrinterSpoolerServiceManaged">نمره مدیریت سرویس اسپولر چاپگر</label>
                    <input type="range" asp-for="Command.IsPrinterSpoolerServiceManaged" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showPrinterSpoolerServiceManaged" onclick="toggleTextInput('showPrinterSpoolerServiceManaged', 'printerSpoolerServiceManagedContainer')">
                    <label for="showPrinterSpoolerServiceManaged">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="printerSpoolerServiceManagedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsPrinterSpoolerServiceManagedDescription">
                    <span asp-validation-for="Command.IsPrinterSpoolerServiceManagedDescription" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Online Tip Managed -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsOnlineTipManaged">نمره مدیریت نکات آنلاین</label>
                    <input type="range" asp-for="Command.IsOnlineTipManaged" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showOnlineTipManaged" onclick="toggleTextInput('showOnlineTipManaged', 'onlineTipManagedContainer')">
                    <label for="showOnlineTipManaged">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="onlineTipManagedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsOnlineTipManagedDescription">
                    <span asp-validation-for="Command.IsOnlineTipManagedDescription" class="error"></span>
                </div>
            </div>

            <!-- Keep Alive Time Managed -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsKeepAliveTimeManaged">نمره مدیریت زمان زنده‌نگه‌داری</label>
                    <input type="range" asp-for="Command.IsKeepAliveTimeManaged" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showKeepAliveTimeManaged" onclick="toggleTextInput('showKeepAliveTimeManaged', 'keepAliveTimeManagedContainer')">
                    <label for="showKeepAliveTimeManaged">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="keepAliveTimeManagedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsKeepAliveTimeManagedDescription">
                    <span asp-validation-for="Command.IsKeepAliveTimeManagedDescription" class="error"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- IRDP Option Disabled -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsIRDPOptionDisabled">نمره غیرفعال‌سازی گزینه IRDP</label>
                    <input type="range" asp-for="Command.IsIRDPOptionDisabled" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showIRDPOptionDisabled" onclick="toggleTextInput('showIRDPOptionDisabled', 'irdpOptionDisabledContainer')">
                    <label for="showIRDPOptionDisabled">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="irdpOptionDisabledContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsIRDPOptionDisabledDescription">
                    <span asp-validation-for="Command.IsIRDPOptionDisabledDescription" class="error"></span>
                </div>
            </div>

            <!-- Data Retransmission Managed -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IsDataRetransmissionManaged">نمره مدیریت بازانتقال داده</label>
                    <input type="range" asp-for="Command.IsDataRetransmissionManaged" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showDataRetransmissionManaged" onclick="toggleTextInput('showDataRetransmissionManaged', 'dataRetransmissionManagedContainer')">
                    <label for="showDataRetransmissionManaged">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="dataRetransmissionManagedContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IsDataRetransmissionManagedDescription">
                    <span asp-validation-for="Command.IsDataRetransmissionManagedDescription" class="error"></span>
                </div>
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.FinallDescription" class="control-label">توضیحات</label>
                <input type="text" class="form-control" asp-for="Command.FinallDescription">
                <span  class="error"></span>
            </div>
        </div>
        

        
        <div class="modal-footer">
        <input type="hidden" asp-for="Command.ChecklistId" />

        <button type="submit" class="btn btn-info waves-effect waves-light">بعدی</button>
    </div>
    
        </div>
        </form>
<script>
    function toggleTextInput(checkboxId, containerId) {
        var checkBox = document.getElementById(checkboxId);
        var textInputContainer = document.getElementById(containerId);
        if (checkBox.checked) {
            textInputContainer.style.display = "block";
        } else {
            textInputContainer.style.display = "none";
        }
    }
</script>

