@page
@using Microsoft.EntityFrameworkCore
@model CreateModel
@{
    Layout = "Shared/_AdminLayout";
}


<div class="modal-header">
    
    <h4 class="modal-title">ثبت شرکت جدید</h4>
</div>

@if (Model.SuccessMessageame != null)
{
    <div class="alert alert-success">
        @Model.SuccessMessageame

    </div>
}
    @if (Model.ErrorMessageame != null)
    {
        <div class="alert alert-danger">
            @Model.ErrorMessageame

        </div>
    }

<form method="post" asp-page-handler="Create" enctype="multipart/form-data" >
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="@Model.Command.Title" class="control-label">عنوان چک لیست</label>
                    <input type="text" class="form-control" asp-for="@Model.Command.Title">
                    <span asp-validation-for="Command.Title" class="error"></span>
                    
                </div>
            </div>
           
        </div>
        <div id="people-container">
            <div class="person-form">
                <h5>اطلاعات فرد جدید</h5>
                <div class="form-group">
                    <label>نام عضو حاضر</label>
                    <input type="text" name="Command.People[0].NamePeopleCo" class="form-control">
                </div>
                <div class="form-group">
                    <label>مسئولیت فرد</label>
                    <input type="text" name="Command.People[0].RspponsePeopleCo" class="form-control">
                </div>
                <div class="form-group">
                    <label>شماره تماس</label>
                    <input type="text" name="Command.People[0].PhonePeopleCo" class="form-control">
                </div>
            </div>
            
        </div>

        <button type="button" class="btn btn-success" id="add-person-btn">اضافه کردن فرد جدید</button>
    </div>
    

    <div class="row">
        <div class="col-md-6">
        <div class="form-group">
                    <label asp-for="Command.CountEmployees " class="control-label">تعداد کارمندان    </label>
                    <input type="number" class="form-control" asp-for="Command.CountEmployees ">
                    <span asp-validation-for="Command.CountEmployees" class="error"></span>
                   
                </div>
        </div>     
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.CountFolowers " class="control-label">تعداد مشتریان    </label>
                <input type="number" class="form-control" asp-for="Command.CountFolowers ">
                <span asp-validation-for="Command.CountFolowers" class="error"></span>
                   
            </div>
        </div>
    </div>
    
        
        <div class="row">
         
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.CompanyId " class="control-label">نام شرکت </label>
                    <select class="form-control" asp-for="Command.CompanyId" asp-items="Model.Companies" id="CategoryIdSelect">
                        <option value="0">  انتخاب شرکت </option>
                        @*ProductCategories name selectlist va CategoryId meghdary hast ke mikhahim etelaate
                        an namayesh dadashavad ya etelaat daron an rikhte shavad*@
                    </select>
                    <span asp-validation-for="Command.CompanyId" class="error"></span>
                   
                </div>
            </div>
            
            <div class="col-md-6">
                <label class="control-label col-md-3">انتخاب ارزیاب ها</label>
                <div class="col-md-12">
                    <select asp-for="Command.AccountIds" asp-items="Model.AccountList" class="multi-select" multiple="multiple" id="my_multi_select3">
                    </select> @*asp-items="Model.Permissions" name of selectlistitem*@
                    @*asp-for="Command.Permissions"  ham name prop dar Editrole hast / command ham ke name EditRole Hast*@

                </div>

            </div>
        </div>
   

   
     
    <div class="modal-footer">
        
        <button type="submit" class="btn btn-info waves-effect waves-light" >برو مرحله ی بعدی</button>
        
    </div>
</form>

    
    <br/>

    @section Scripts {
        <script>
        $(document).ready(function () {
            // تنظیمات select2 برای انتخاب شرکت‌ها
            $('#CategoryIdSelect').select2({
                placeholder: "انتخاب دسته بندی",
                allowClear: true,
                language: "fa"
            });

            let personIndex = 1; // شروع ایندکس از 1 زیرا 0 برای فرم موجود است

            $('#add-person-btn').on('click', function () {
                const container = document.getElementById("people-container");

                const newPersonForm = `
                    <div class="person-form mt-3">
                        <h5>اطلاعات فرد جدید</h5>
                        <div class="form-group">
                            <label>نام عضو حاضر</label>
                            <input type="text" name="Command.People[${personIndex}].NamePeopleCo" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>مسئولیت فرد</label>
                            <input type="text" name="Command.People[${personIndex}].RspponsePeopleCo" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>شماره تماس</label>
                            <input type="text" name="Command.People[${personIndex}].PhonePeopleCo" class="form-control">
                        </div>
                    </div>
                `;

                container.insertAdjacentHTML('beforeend', newPersonForm);
                personIndex++; // افزایش ایندکس برای فرم‌های بعدی
            });
        });
    </script>
    }

