@page
@model VisitCompany.Pages.checklist.CreateGeneralCheckModel
@{
    Layout = "Shared/_AdminLayout";
}

<div class="modal-header">
    <h4 class="modal-title">چک لیست ارزیابی شرکت ها</h4>
</div>
<form method="post" asp-page-handler="Edit" enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <!-- Organizational Security Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.OrganizationalSecurityStatusScore">نمره وضعیت امنیت سازمانی</label>
                    <input type="range" asp-for="Command.OrganizationalSecurityStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showOrganizationalSecurityStatus" onclick="toggleTextInput('showOrganizationalSecurityStatus', 'organizationalSecurityStatusContainer')">
                    <label for="showOrganizationalSecurityStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="organizationalSecurityStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.OrganizationalSecurityStatus">
                    <span asp-validation-for="Command.OrganizationalSecurityStatus" class="error"></span>
                </div>
            </div>

            <!-- Security Manager Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.SecurityManagerStatusScore">وضعیت مدیر امنیت</label>
                    <input type="range" asp-for="Command.SecurityManagerStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showSecurityManagerStatus" onclick="toggleTextInput('showSecurityManagerStatus', 'securityManagerStatusContainer')">
                    <label for="showSecurityManagerStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="securityManagerStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.SecurityManagerStatus">
                    <span asp-validation-for="Command.SecurityManagerStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
    <div class="row">
            <!-- Security Policy Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.SecurityPolicyStatusScore">نمره وضعیت سیاست امنیتی</label>
                    <input type="range" asp-for="Command.SecurityPolicyStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showSecurityPolicyStatus" onclick="toggleTextInput('showSecurityPolicyStatus', 'securityPolicyStatusContainer')">
                    <label for="showSecurityPolicyStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="securityPolicyStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.SecurityPolicyStatus">
                    <span asp-validation-for="Command.SecurityPolicyStatus" class="error"></span>
                </div>
            </div>

            <!-- Security Change Approval Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.SecurityChangeApprovalStatusScore">نمره وضعیت تایید تغییر امنیتی</label>
                    <input type="range" asp-for="Command.SecurityChangeApprovalStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showSecurityChangeApprovalStatus" onclick="toggleTextInput('showSecurityChangeApprovalStatus', 'securityChangeApprovalStatusContainer')">
                    <label for="showSecurityChangeApprovalStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="securityChangeApprovalStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.SecurityChangeApprovalStatus">
                    <span asp-validation-for="Command.SecurityChangeApprovalStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <!-- Third Party Service Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.ThirdPartyServiceStatusScore">نمره وضعیت خدمات شخص ثالث</label>
                    <input type="range" asp-for="Command.ThirdPartyServiceStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showThirdPartyServiceStatus" onclick="toggleTextInput('showThirdPartyServiceStatus', 'thirdPartyServiceStatusContainer')">
                    <label for="showThirdPartyServiceStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="thirdPartyServiceStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.ThirdPartyServiceStatus">
                    <span asp-validation-for="Command.ThirdPartyServiceStatus" class="error"></span>
                </div>
            </div>

            <!-- Personnel Hiring Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.PersonnelHiringStatusScore">نمره وضعیت استخدام پرسنل</label>
                    <input type="range" asp-for="Command.PersonnelHiringStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showPersonnelHiringStatus" onclick="toggleTextInput('showPersonnelHiringStatus', 'personnelHiringStatusContainer')">
                    <label for="showPersonnelHiringStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="personnelHiringStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.PersonnelHiringStatus">
                    <span asp-validation-for="Command.PersonnelHiringStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <!-- Access Management Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.AccessManagementStatusScore">نمره وضعیت مدیریت دسترسی</label>
                    <input type="range" asp-for="Command.AccessManagementStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showAccessManagementStatus" onclick="toggleTextInput('showAccessManagementStatus', 'accessManagementStatusContainer')">
                    <label for="showAccessManagementStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="accessManagementStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.AccessManagementStatus">
                    <span asp-validation-for="Command.AccessManagementStatus" class="error"></span>
                </div>
            </div>

            <!-- Compliance Management Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.ComplianceManagementStatusScore">نمره وضعیت مدیریت تطابق</label>
                    <input type="range" asp-for="Command.ComplianceManagementStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showComplianceManagementStatus" onclick="toggleTextInput('showComplianceManagementStatus', 'complianceManagementStatusContainer')">
                    <label for="showComplianceManagementStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="complianceManagementStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.ComplianceManagementStatus">
                    <span asp-validation-for="Command.ComplianceManagementStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <!-- Incident Response Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IncidentResponseStatusScore">نمره وضعیت پاسخ به حوادث</label>
                    <input type="range" asp-for="Command.IncidentResponseStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showIncidentResponseStatus" onclick="toggleTextInput('showIncidentResponseStatus', 'incidentResponseStatusContainer')">
                    <label for="showIncidentResponseStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="incidentResponseStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IncidentResponseStatus">
                    <span asp-validation-for="Command.IncidentResponseStatus" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.NetworkLogicalPhysicalMapStatusScore">نمره دهی شبکه منطقی و فیزیکی</label>
                    <input type="range" asp-for="Command.NetworkLogicalPhysicalMapStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showNetworkLogicalPhysicalMapStatus" onclick="toggleTextInput('showNetworkLogicalPhysicalMapStatus', 'networkLogicalPhysicalMapStatusContainer')">
                    <label for="showNetworkLogicalPhysicalMapStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="networkLogicalPhysicalMapStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.NetworkLogicalPhysicalMapStatus">
                    <span asp-validation-for="Command.NetworkLogicalPhysicalMapStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <!-- Physical Assets Inventory Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.PhysicalAssetsInventoryStatusScore">نمره دهی اموال فیزیکی</label>
                    <input type="range" asp-for="Command.PhysicalAssetsInventoryStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showPhysicalAssetsInventoryStatus" onclick="toggleTextInput('showPhysicalAssetsInventoryStatus', 'physicalAssetsInventoryStatusContainer')">
                    <label for="showPhysicalAssetsInventoryStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="physicalAssetsInventoryStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.PhysicalAssetsInventoryStatus">
                    <span asp-validation-for="Command.PhysicalAssetsInventoryStatus" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.ZoningStatusScore">نمره دهی زونینگ</label>
                    <input type="range" asp-for="Command.ZoningStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showZoningStatus" onclick="toggleTextInput('showZoningStatus', 'zoningStatusContainer')">
                    <label for="showZoningStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="zoningStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.ZoningStatus">
                    <span asp-validation-for="Command.ZoningStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <!-- Access Control Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.AccessControlStatusScore">نمره دهی کنترل دسترسی</label>
                    <input type="range" asp-for="Command.AccessControlStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showAccessControlStatus" onclick="toggleTextInput('showAccessControlStatus', 'accessControlStatusContainer')">
                    <label for="showAccessControlStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="accessControlStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.AccessControlStatus">
                    <span asp-validation-for="Command.AccessControlStatus" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.DevelopmentTestOperationsControlStatusScore">نمره دهی کنترل عملیات تست و توسعه</label>
                    <input type="range" asp-for="Command.DevelopmentTestOperationsControlStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showDevelopmentTestOperationsControlStatus" onclick="toggleTextInput('showDevelopmentTestOperationsControlStatus', 'developmentTestOperationsControlStatusContainer')">
                    <label for="showDevelopmentTestOperationsControlStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="developmentTestOperationsControlStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.DevelopmentTestOperationsControlStatus">
                    <span asp-validation-for="Command.DevelopmentTestOperationsControlStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <!-- Remote Administrative Access Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.RemoteAdministrativeAccessStatusScore">نمره دهی دسترسی مدیریت از راه دور</label>
                    <input type="range" asp-for="Command.RemoteAdministrativeAccessStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showRemoteAdministrativeAccessStatus" onclick="toggleTextInput('showRemoteAdministrativeAccessStatus', 'remoteAdministrativeAccessStatusContainer')">
                    <label for="showRemoteAdministrativeAccessStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="remoteAdministrativeAccessStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.RemoteAdministrativeAccessStatus">
                    <span asp-validation-for="Command.RemoteAdministrativeAccessStatus" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.SecureCodingConfigStatusScore">نمره دهی پیکربندی کدنویسی امن</label>
                    <input type="range" asp-for="Command.SecureCodingConfigStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showSecureCodingConfigStatus" onclick="toggleTextInput('showSecureCodingConfigStatus', 'secureCodingConfigStatusContainer')">
                    <label for="showSecureCodingConfigStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="secureCodingConfigStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.SecureCodingConfigStatus">
                    <span asp-validation-for="Command.SecureCodingConfigStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.SecurityEvaluationStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.SecurityEvaluationStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showSecurityEvaluationStatus" onclick="toggleTextInput('showSecurityEvaluationStatus', 'securityEvaluationStatusContainer')">
                    <label for="showSecurityEvaluationStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="securityEvaluationStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.SecurityEvaluationStatus">
                    <span asp-validation-for="Command.SecurityEvaluationStatus" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.BackupStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.BackupStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showBackupStatus" onclick="toggleTextInput('showBackupStatus', 'backupStatusContainer')">
                    <label for="showBackupStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="backupStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.BackupStatus">
                    <span asp-validation-for="Command.BackupStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.SessionExpirationStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.SessionExpirationStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showSessionExpirationStatus" onclick="toggleTextInput('showSessionExpirationStatus', 'sessionExpirationStatusContainer')">
                    <label for="showSessionExpirationStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="sessionExpirationStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.SessionExpirationStatus">
                    <span asp-validation-for="Command.SessionExpirationStatus" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.AntivirusStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.AntivirusStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showAntivirusStatus" onclick="toggleTextInput('showAntivirusStatus', 'antivirusStatusContainer')">
                    <label for="showAntivirusStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="antivirusStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.AntivirusStatus">
                    <span asp-validation-for="Command.AntivirusStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.UpdateStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.UpdateStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showUpdateStatus" onclick="toggleTextInput('showUpdateStatus', 'updateStatusContainer')">
                    <label for="showUpdateStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="updateStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.UpdateStatus">
                    <span asp-validation-for="Command.UpdateStatus" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.WirelessNetworkStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.WirelessNetworkStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showWirelessNetworkStatus" onclick="toggleTextInput('showWirelessNetworkStatus', 'wirelessNetworkStatusContainer')">
                    <label for="showWirelessNetworkStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="wirelessNetworkStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.WirelessNetworkStatus">
                    <span asp-validation-for="Command.WirelessNetworkStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div>
                    <label asp-for="Command.PasswordPolicyStatusScore">نمره دهی</label>
                    <input type="range" asp-for="Command.PasswordPolicyStatusScore" min="0" max="100" />
                </div>
            </div>
            <div class="form-group">
                <input type="checkbox" id="showPasswordPolicyStatus" onclick="toggleTextInput('showPasswordPolicyStatus', 'passwordPolicyStatusContainer')">
                <label for="showPasswordPolicyStatus">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="passwordPolicyStatusContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.PasswordPolicyStatus">
                <span asp-validation-for="Command.PasswordPolicyStatus" class="error"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div>
                    <label asp-for="Command.DataDestructionStatusScore">نمره دهی</label>
                    <input type="range" asp-for="Command.DataDestructionStatusScore" min="0" max="100" />
                </div>
            </div>
            <div class="form-group">
                <input type="checkbox" id="showDataDestructionStatus" onclick="toggleTextInput('showDataDestructionStatus', 'dataDestructionStatusContainer')">
                <label for="showDataDestructionStatus">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="dataDestructionStatusContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.DataDestructionStatus">
                <span asp-validation-for="Command.DataDestructionStatus" class="error"></span>
            </div>
        </div>
    </div>
    <br>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.LogManagementStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.LogManagementStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showLogManagementStatus" onclick="toggleTextInput('showLogManagementStatus', 'logManagementStatusContainer')">
                    <label for="showLogManagementStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="logManagementStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.LogManagementStatus">
                    <span asp-validation-for="Command.LogManagementStatus" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.ClockSynchronizationStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.ClockSynchronizationStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showClockSynchronizationStatus" onclick="toggleTextInput('showClockSynchronizationStatus', 'clockSynchronizationStatusContainer')">
                    <label for="showClockSynchronizationStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="clockSynchronizationStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.ClockSynchronizationStatus">
                    <span asp-validation-for="Command.ClockSynchronizationStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.AuthenticationStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.AuthenticationStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showAuthenticationStatus" onclick="toggleTextInput('showAuthenticationStatus', 'authenticationStatusContainer')">
                    <label for="showAuthenticationStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="authenticationStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.AuthenticationStatus">
                    <span asp-validation-for="Command.AuthenticationStatus" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.BusinessIdentificationStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.BusinessIdentificationStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showBusinessIdentificationStatus" onclick="toggleTextInput('showBusinessIdentificationStatus', 'businessIdentificationStatusContainer')">
                    <label for="showBusinessIdentificationStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="businessIdentificationStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.BusinessIdentificationStatus">
                    <span asp-validation-for="Command.BusinessIdentificationStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.EntryExitManagementStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.EntryExitManagementStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showEntryExitManagementStatus" onclick="toggleTextInput('showEntryExitManagementStatus', 'entryExitManagementStatusContainer')">
                    <label for="showEntryExitManagementStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="entryExitManagementStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.EntryExitManagementStatus">
                    <span asp-validation-for="Command.EntryExitManagementStatus" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.CCTVStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.CCTVStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showCCTVStatus" onclick="toggleTextInput('showCCTVStatus', 'cctvStatusContainer')">
                    <label for="showCCTVStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="cctvStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.CCTVStatus">
                    <span asp-validation-for="Command.CCTVStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.HostingServiceStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.HostingServiceStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showHostingServiceStatus" onclick="toggleTextInput('showHostingServiceStatus', 'hostingServiceStatusContainer')">
                    <label for="showHostingServiceStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="hostingServiceStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.HostingServiceStatus">
                    <span asp-validation-for="Command.HostingServiceStatus" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.PrivacyPolicyStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.PrivacyPolicyStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showPrivacyPolicyStatus" onclick="toggleTextInput('showPrivacyPolicyStatus', 'privacyPolicyStatusContainer')">
                    <label for="showPrivacyPolicyStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="privacyPolicyStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.PrivacyPolicyStatus">
                    <span asp-validation-for="Command.PrivacyPolicyStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.PublicComplaintsStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.PublicComplaintsStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showPublicComplaintsStatus" onclick="toggleTextInput('showPublicComplaintsStatus', 'publicComplaintsStatusContainer')">
                    <label for="showPublicComplaintsStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="publicComplaintsStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.PublicComplaintsStatus">
                    <span asp-validation-for="Command.PublicComplaintsStatus" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.CyberAttackResponseStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.CyberAttackResponseStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showCyberAttackResponseStatus" onclick="toggleTextInput('showCyberAttackResponseStatus', 'cyberAttackResponseStatusContainer')">
                    <label for="showCyberAttackResponseStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="cyberAttackResponseStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.CyberAttackResponseStatus">
                    <span asp-validation-for="Command.CyberAttackResponseStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.DataSalesTradeStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.DataSalesTradeStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showDataSalesTradeStatus" onclick="toggleTextInput('showDataSalesTradeStatus', 'dataSalesTradeStatusContainer')">
                    <label for="showDataSalesTradeStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="dataSalesTradeStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.DataSalesTradeStatus">
                    <span asp-validation-for="Command.DataSalesTradeStatus" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.FinancialPaymentPlatformStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.FinancialPaymentPlatformStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showFinancialPaymentPlatformStatus" onclick="toggleTextInput('showFinancialPaymentPlatformStatus', 'financialPaymentPlatformStatusContainer')">
                    <label for="showFinancialPaymentPlatformStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="financialPaymentPlatformStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.FinancialPaymentPlatformStatus">
                    <span asp-validation-for="Command.FinancialPaymentPlatformStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div>
                    <label asp-for="Command.UserDataCollectionStatusScore">نمره دهی</label>
                    <input type="range" asp-for="Command.UserDataCollectionStatusScore" min="0" max="100" />
                </div>
            </div>
            <div class="form-group">
                <input type="checkbox" id="showUserDataCollectionStatus" onclick="toggleTextInput('showUserDataCollectionStatus', 'userDataCollectionStatusContainer')">
                <label for="showUserDataCollectionStatus">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="userDataCollectionStatusContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.UserDataCollectionStatus">
                <span asp-validation-for="Command.UserDataCollectionStatus" class="error"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div>
                    <label asp-for="Command.EmployeeTrainingStatusScore">نمره دهی</label>
                    <input type="range" asp-for="Command.EmployeeTrainingStatusScore" min="0" max="100" />
                </div>
            </div>
            <div class="form-group">
                <input type="checkbox" id="showEmployeeTrainingStatus" onclick="toggleTextInput('showEmployeeTrainingStatus', 'employeeTrainingStatusContainer')">
                <label for="showEmployeeTrainingStatus">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="employeeTrainingStatusContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.EmployeeTrainingStatus">
                <span asp-validation-for="Command.EmployeeTrainingStatus" class="error"></span>
            </div>
        </div>
    </div>
    </div>

    <input type="hidden" asp-for="Command.ChecklistId" />

    <div class="modal-footer">
        <button type="submit" class="btn btn-info waves-effect waves-light">بعدی</button>
    </div>
</form>

<script>
    function toggleTextInput(checkboxId, containerId) {
        var checkBox = document.getElementById(checkboxId);
        var textInputContainer = document.getElementById(containerId);
        if (checkBox.checked) {
            textInputContainer.style.display = "block";
        } else {
            textInputContainer.style.display = "none";
        }
    }
</script>
