@page
@model VisitCompany.Pages.checklist.CreateJuniorModel
@{
    Layout = "Shared/_AdminLayout";
}

<div class="modal-header">
    <h4 class="modal-title">چک لیست ارزیابی شرکت ها-Juniper Assets</h4>
</div>
<form method="post" >

    <div class="col-md-6">
        <div class="form-group">
            <input type="checkbox" asp-for="Command.IsConsolePortSecured" id="IsConsolePortSecured" onclick="toggleHelp('helpIsConsolePortSecured')" />
            <label asp-for="Command.IsConsolePortSecured">امنیت پورت کنسول</label>
            <span class="bi bi-lightbulb lightbulb" title="پورت کنسول باید به طور ایمن تنظیم شود تا از دسترسی غیرمجاز جلوگیری شود"></span>
        </div>
        <div class="form-group">
            <input type="checkbox" id="showConsolePortSecureddescription" onclick="toggleTextInput('showConsolePortSecureddescription', 'ConsolePortSecureddescriptionContainer')">
            <label for="showConsolePortSecureddescription">افزودن توضیحات</label>
        </div>
        <div class="form-group" id="ConsolePortSecureddescriptionContainer" style="display:none;">
            <input type="text" class="form-control" asp-for="Command.IsConsolePortSecureddescription">
            <span asp-validation-for="Command.IsConsolePortSecureddescription" class="error"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <input type="checkbox" asp-for="Command.IsRootLoginDisabled" id="IsRootLoginDisabled" />
            <label asp-for="Command.IsRootLoginDisabled">غیرفعال کردن ورود روت</label>
            <span class="bi bi-lightbulb lightbulb" title=" جلوگیری شود"></span>

        </div>
        <div class="form-group">
            <input type="checkbox" id="showRootLoginDisableddescription" onclick="toggleTextInput('showRootLoginDisableddescription', 'RootLoginDisableddescriptionContainer')">
            <label for="showRootLoginDisableddescription">افزودن توضیحات</label>
        </div>
        <div class="form-group" id="RootLoginDisableddescriptionContainer" style="display:none;">
            <input type="text" class="form-control" asp-for="Command.IsRootLoginDisableddescription">
            <span asp-validation-for="Command.IsRootLoginDisableddescription" class="error"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <input type="checkbox" asp-for="Command.IsPasswordRecoveryDisabled" id="IsPasswordRecoveryDisabled" />
            <label asp-for="Command.IsPasswordRecoveryDisabled">غیرفعال کردن بازیابی رمز عبور</label>
            <span class="bi bi-lightbulb lightbulb" title="پورت کنسول باید به طور ایمن تنظیم شود تا از دسترسی غیرمجاز جلوگیری شود"></span>

        </div>
        <div class="form-group">
            <input type="checkbox" id="showPasswordRecoveryDisableddescription" onclick="toggleTextInput('showPasswordRecoveryDisableddescription', 'PasswordRecoveryDisableddescriptionContainer')">
            <label for="showPasswordRecoveryDisableddescription">افزودن توضیحات</label>
        </div>
        <div class="form-group" id="PasswordRecoveryDisableddescriptionContainer" style="display:none;">
            <input type="text" class="form-control" asp-for="Command.IsPasswordRecoveryDisableddescription">
            <span asp-validation-for="Command.IsPasswordRecoveryDisableddescription" class="error"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <input type="checkbox" asp-for="Command.IsAuxiliaryPortDisabled" id="IsAuxiliaryPortDisabled" />
            <label asp-for="Command.IsAuxiliaryPortDisabled">غیرفعال کردن پورت کمکی</label>
            <span class="bi bi-lightbulb lightbulb" title="پورت کنسول باید به طور ایمن تنظیم شود تا از دسترسی غیرمجاز جلوگیری شود"></span>

        </div>
        <div class="form-group">
            <input type="checkbox" id="showAuxiliaryPortDisableddescription" onclick="toggleTextInput('showAuxiliaryPortDisableddescription', 'AuxiliaryPortDisableddescriptionContainer')">
            <label for="showAuxiliaryPortDisableddescription">افزودن توضیحات</label>
        </div>
        <div class="form-group" id="AuxiliaryPortDisableddescriptionContainer" style="display:none;">
            <input type="text" class="form-control" asp-for="Command.IsAuxiliaryPortDisableddescription">
            <span asp-validation-for="Command.IsAuxiliaryPortDisableddescription" class="error"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <input type="checkbox" asp-for="Command.IsRootLoginAuxDisabled" id="IsRootLoginAuxDisabled" />
            <label asp-for="Command.IsRootLoginAuxDisabled">غیرفعال کردن ورود روت به پورت کمکی</label>
            <span class="bi bi-lightbulb lightbulb" title="پورت کنسول باید به طور ایمن تنظیم شود تا از دسترسی غیرمجاز جلوگیری شود"></span>

        </div>
        <div class="form-group">
            <input type="checkbox" id="showRootLoginAuxDisableddescription" onclick="toggleTextInput('showRootLoginAuxDisableddescription', 'RootLoginAuxDisableddescriptionContainer')">
            <label for="showRootLoginAuxDisableddescription">افزودن توضیحات</label>
        </div>
        <div class="form-group" id="RootLoginAuxDisableddescriptionContainer" style="display:none;">
            <input type="text" class="form-control" asp-for="Command.IsRootLoginAuxDisableddescription">
            <span asp-validation-for="Command.IsRootLoginAuxDisableddescription" class="error"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <input type="checkbox" asp-for="Command.IsDiagnosticPortDisabled" id="IsDiagnosticPortDisabled" />
            <label asp-for="Command.IsDiagnosticPortDisabled">غیرفعال کردن پورت تشخیصی</label>
            <span class="bi bi-lightbulb lightbulb" title="پورت کنسول باید به طور ایمن تنظیم شود تا از دسترسی غیرمجاز جلوگیری شود"></span>

        </div>
        <div class="form-group">
            <input type="checkbox" id="showDiagnosticPortDisableddescription" onclick="toggleTextInput('showDiagnosticPortDisableddescription', 'DiagnosticPortDisableddescriptionContainer')">
            <label for="showDiagnosticPortDisableddescription">افزودن توضیحات</label>
        </div>
        <div class="form-group" id="DiagnosticPortDisableddescriptionContainer" style="display:none;">
            <input type="text" class="form-control" asp-for="Command.IsDiagnosticPortDisableddescription">
            <span asp-validation-for="Command.IsDiagnosticPortDisableddescription" class="error"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <input type="checkbox" asp-for="Command.IsUSBPortDisabled" id="IsUSBPortDisabled" />
            <label asp-for="Command.IsUSBPortDisabled">غیرفعال کردن پورت USB</label>
            <span class="bi bi-lightbulb lightbulb" title="پورت کنسول باید به طور ایمن تنظیم شود تا از دسترسی غیرمجاز جلوگیری شود"></span>

        </div>
        <div class="form-group">
            <input type="checkbox" id="showUSBPortDisableddescription" onclick="toggleTextInput('showUSBPortDisableddescription', 'USBPortDisableddescriptionContainer')">
            <label for="showUSBPortDisableddescription">افزودن توضیحات</label>
        </div>
        <div class="form-group" id="USBPortDisableddescriptionContainer" style="display:none;">
            <input type="text" class="form-control" asp-for="Command.IsUSBPortDisableddescription">
            <span asp-validation-for="Command.IsUSBPortDisableddescription" class="error"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <input type="checkbox" asp-for="Command.IsCraftInterfaceDisabled" id="IsCraftInterfaceDisabled" />
            <label asp-for="Command.IsCraftInterfaceDisabled">غیرفعال کردن رابط Craft</label>
            <span class="bi bi-lightbulb lightbulb" title="پورت کنسول باید به طور ایمن تنظیم شود تا از دسترسی غیرمجاز جلوگیری شود"></span>

        </div>
        <div class="form-group">
            <input type="checkbox" id="showCraftInterfaceDisableddescription" onclick="toggleTextInput('showCraftInterfaceDisableddescription', 'CraftInterfaceDisableddescriptionContainer')">
            <label for="showCraftInterfaceDisableddescription">افزودن توضیحات</label>
        </div>
        <div class="form-group" id="CraftInterfaceDisableddescriptionContainer" style="display:none;">
            <input type="text" class="form-control" asp-for="Command.IsCraftInterfaceDisableddescription">
            <span asp-validation-for="Command.IsCraftInterfaceDisableddescription" class="error"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <input type="checkbox" asp-for="Command.IsLCDMenuDisabled" id="IsLCDMenuDisabled" />
            <label asp-for="Command.IsLCDMenuDisabled">غیرفعال کردن منوی LCD</label>
            <span class="bi bi-lightbulb lightbulb" title="پورت کنسول باید به طور ایمن تنظیم شود تا از دسترسی غیرمجاز جلوگیری شود"></span>

        </div>
        <div class="form-group">
            <input type="checkbox" id="showLCDMenuDisableddescription" onclick="toggleTextInput('showLCDMenuDisableddescription', 'LCDMenuDisableddescriptionContainer')">
            <label for="showLCDMenuDisableddescription">افزودن توضیحات</label>
        </div>
        <div class="form-group" id="LCDMenuDisableddescriptionContainer" style="display:none;">
            <input type="text" class="form-control" asp-for="Command.IsLCDMenuDisableddescription">
            <span asp-validation-for="Command.IsLCDMenuDisableddescription" class="error"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <input type="checkbox" asp-for="Command.IsResetButtonDisabled" id="IsResetButtonDisabled" />
            <label asp-for="Command.IsResetButtonDisabled">غیرفعال کردن دکمه تنظیم مجدد</label>
            <span class="bi bi-lightbulb lightbulb" title="پورت کنسول باید به طور ایمن تنظیم شود تا از دسترسی غیرمجاز جلوگیری شود"></span>

        </div>
        <div class="form-group">
            <input type="checkbox" id="showResetButtonDisableddescription" onclick="toggleTextInput('showResetButtonDisableddescription', 'ResetButtonDisableddescriptionContainer')">
            <label for="showResetButtonDisableddescription">افزودن توضیحات</label>
        </div>
        <div class="form-group" id="ResetButtonDisableddescriptionContainer" style="display:none;">
            <input type="text" class="form-control" asp-for="Command.IsResetButtonDisableddescription">
            <span asp-validation-for="Command.IsResetButtonDisableddescription" class="error"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <input type="checkbox" asp-for="Command.AreUnusedInterfacesDisabled" id="AreUnusedInterfacesDisabled" />
            <label asp-for="Command.AreUnusedInterfacesDisabled">غیرفعال کردن رابط‌های استفاده نشده</label>
            <span class="bi bi-lightbulb lightbulb" title="پورت کنسول باید به طور ایمن تنظیم شود تا از دسترسی غیرمجاز جلوگیری شود"></span>

        </div>
        <div class="form-group">
            <input type="checkbox" id="showUnusedInterfacesDisableddescription" onclick="toggleTextInput('showUnusedInterfacesDisableddescription', 'UnusedInterfacesDisableddescriptionContainer')">
            <label for="showUnusedInterfacesDisableddescription">افزودن توضیحات</label>
        </div>
        <div class="form-group" id="UnusedInterfacesDisableddescriptionContainer" style="display:none;">
            <input type="text" class="form-control" asp-for="Command.AreUnusedInterfacesDisableddescription">
            <span asp-validation-for="Command.AreUnusedInterfacesDisableddescription" class="error"></span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <input type="checkbox" asp-for="Command.IsConfigFileEncrypted" id="IsConfigFileEncrypted" />
            <label asp-for="Command.IsConfigFileEncrypted">رمزگذاری فایل پیکربندی</label>
            <span class="bi bi-lightbulb lightbulb" title="پورت کنسول باید به طور ایمن تنظیم شود تا از دسترسی غیرمجاز جلوگیری شود"></span>

        </div>
        <div class="form-group">
            <input type="checkbox" id="showConfigFileEncrypteddescription" onclick="toggleTextInput('showConfigFileEncrypteddescription', 'ConfigFileEncrypteddescriptionContainer')">
            <label for="showConfigFileEncrypteddescription">افزودن توضیحات</label>
        </div>
        <div class="form-group" id="ConfigFileEncrypteddescriptionContainer" style="display:none;">
            <input type="text" class="form-control" asp-for="Command.IsConfigFileEncrypteddescription">
            <span asp-validation-for="Command.IsConfigFileEncrypteddescription" class="error"></span>
        </div>
    </div>
    <div class="modal-footer">        
        <input type="hidden" asp-for="Command.ChecklistId" />

        <button type="submit" class="btn btn-info waves-effect waves-light">بعدی</button>
    </div>
    </form>
<script>
    function toggleTextInput(checkboxId, containerId) {
        var checkBox = document.getElementById(checkboxId);
        var textInputContainer = document.getElementById(containerId);
        if (checkBox.checked) {
            textInputContainer.style.display = "block";
        } else {
            textInputContainer.style.display = "none";
        }
    }

    // function toggleHelp(id) {
    //     var helpIcon = document.getElementById(id);
    //     helpIcon.style.display = helpIcon.style.display === "none" ? "inline-block" : "none";
    // }
</script>
