@page
@model VisitCompany.Pages.checklist.CreateGeneralCheckModel
@{
    Layout = "Shared/_AdminLayout";
}

<div class="modal-header">
    <h4 class="modal-title">چک لیست ارزیابی شرکت ها</h4>
</div>
<form method="post" asp-page-handler="Edit" enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">
            <!-- Organizational Security Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.OrganizationalSecurityStatusScore">نمره وضعیت امنیت سازمانی</label>
                    <input type="range" asp-for="Command.OrganizationalSecurityStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showOrganizationalSecurityStatus" onclick="toggleTextInput('showOrganizationalSecurityStatus', 'organizationalSecurityStatusContainer')">
                    <label for="showOrganizationalSecurityStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="organizationalSecurityStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.OrganizationalSecurityStatus">
                    <span asp-validation-for="Command.OrganizationalSecurityStatus" class="error"></span>
                </div>
            </div>

            <!-- Security Manager Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.SecurityManagerStatusScore">وضعیت مدیر امنیت</label>
                    <input type="range" asp-for="Command.SecurityManagerStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showSecurityManagerStatus" onclick="toggleTextInput('showSecurityManagerStatus', 'securityManagerStatusContainer')">
                    <label for="showSecurityManagerStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="securityManagerStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.SecurityManagerStatus">
                    <span asp-validation-for="Command.SecurityManagerStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
    <div class="row">
            <!-- Security Policy Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.SecurityPolicyStatusScore">نمره وضعیت سیاست امنیتی</label>
                    <input type="range" asp-for="Command.SecurityPolicyStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showSecurityPolicyStatus" onclick="toggleTextInput('showSecurityPolicyStatus', 'securityPolicyStatusContainer')">
                    <label for="showSecurityPolicyStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="securityPolicyStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.SecurityPolicyStatus">
                    <span asp-validation-for="Command.SecurityPolicyStatus" class="error"></span>
                </div>
            </div>

            <!-- Security Change Approval Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.SecurityChangeApprovalStatusScore">نمره وضعیت تایید تغییر امنیتی</label>
                    <input type="range" asp-for="Command.SecurityChangeApprovalStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showSecurityChangeApprovalStatus" onclick="toggleTextInput('showSecurityChangeApprovalStatus', 'securityChangeApprovalStatusContainer')">
                    <label for="showSecurityChangeApprovalStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="securityChangeApprovalStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.SecurityChangeApprovalStatus">
                    <span asp-validation-for="Command.SecurityChangeApprovalStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <!-- Third Party Service Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.ThirdPartyServiceStatusScore">نمره وضعیت خدمات شخص ثالث</label>
                    <input type="range" asp-for="Command.ThirdPartyServiceStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showThirdPartyServiceStatus" onclick="toggleTextInput('showThirdPartyServiceStatus', 'thirdPartyServiceStatusContainer')">
                    <label for="showThirdPartyServiceStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="thirdPartyServiceStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.ThirdPartyServiceStatus">
                    <span asp-validation-for="Command.ThirdPartyServiceStatus" class="error"></span>
                </div>
            </div>

            <!-- Personnel Hiring Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.PersonnelHiringStatusScore">نمره وضعیت استخدام پرسنل</label>
                    <input type="range" asp-for="Command.PersonnelHiringStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showPersonnelHiringStatus" onclick="toggleTextInput('showPersonnelHiringStatus', 'personnelHiringStatusContainer')">
                    <label for="showPersonnelHiringStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="personnelHiringStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.PersonnelHiringStatus">
                    <span asp-validation-for="Command.PersonnelHiringStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <!-- Access Management Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.AccessManagementStatusScore">نمره وضعیت مدیریت دسترسی</label>
                    <input type="range" asp-for="Command.AccessManagementStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showAccessManagementStatus" onclick="toggleTextInput('showAccessManagementStatus', 'accessManagementStatusContainer')">
                    <label for="showAccessManagementStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="accessManagementStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.AccessManagementStatus">
                    <span asp-validation-for="Command.AccessManagementStatus" class="error"></span>
                </div>
            </div>

            <!-- Compliance Management Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.ComplianceManagementStatusScore">نمره وضعیت مدیریت تطابق</label>
                    <input type="range" asp-for="Command.ComplianceManagementStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showComplianceManagementStatus" onclick="toggleTextInput('showComplianceManagementStatus', 'complianceManagementStatusContainer')">
                    <label for="showComplianceManagementStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="complianceManagementStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.ComplianceManagementStatus">
                    <span asp-validation-for="Command.ComplianceManagementStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <!-- Incident Response Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.IncidentResponseStatusScore">نمره وضعیت پاسخ به حوادث</label>
                    <input type="range" asp-for="Command.IncidentResponseStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showIncidentResponseStatus" onclick="toggleTextInput('showIncidentResponseStatus', 'incidentResponseStatusContainer')">
                    <label for="showIncidentResponseStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="incidentResponseStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.IncidentResponseStatus">
                    <span asp-validation-for="Command.IncidentResponseStatus" class="error"></span>
                </div>
            </div>
          
           
        
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.FinallDescription" class="control-label">توضیحات</label>
                <input type="text" class="form-control" asp-for="Command.FinallDescription">
                <span  class="error"></span>
            </div>
        </div>
    </div>
    </div>

    <input type="hidden" asp-for="Command.ChecklistId" />

    <div class="modal-footer">
        <button type="submit" class="btn btn-info waves-effect waves-light">بعدی</button>
    </div>
</form>

<script>
    function toggleTextInput(checkboxId, containerId) {
        var checkBox = document.getElementById(checkboxId);
        var textInputContainer = document.getElementById(containerId);
        if (checkBox.checked) {
            textInputContainer.style.display = "block";
        } else {
            textInputContainer.style.display = "none";
        }
    }
</script>
