@page
@model VisitCompany.Pages.checklist.CreateJuniorModel
@{
    Layout = "Shared/_AdminLayout";
}

<div class="modal-header">
    <h4 class="modal-title">چک لیست ارزیابی شرکت ها-Juniper Assets</h4>
</div>
<form method="post" >

    <div class="row">
        <!-- Console Port Secured Status -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.IsConsolePortSecured">نمره وضعیت امنیت پورت کنسول</label>
                <input type="range" asp-for="Command.IsConsolePortSecured" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showConsolePortSecured" onclick="toggleTextInput('showConsolePortSecured', 'consolePortSecuredContainer')">
                <label for="showConsolePortSecured">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="consolePortSecuredContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.IsConsolePortSecureddescription">
                <span asp-validation-for="Command.IsConsolePortSecureddescription" class="error"></span>
            </div>
        </div>

        <!-- Root Login Disabled Status -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.IsRootLoginDisabled">نمره وضعیت غیرفعال شدن ورود ریشه</label>
                <input type="range" asp-for="Command.IsRootLoginDisabled" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showRootLoginDisabled" onclick="toggleTextInput('showRootLoginDisabled', 'rootLoginDisabledContainer')">
                <label for="showRootLoginDisabled">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="rootLoginDisabledContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.IsRootLoginDisableddescription">
                <span asp-validation-for="Command.IsRootLoginDisableddescription" class="error"></span>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <!-- Password Recovery Disabled Status -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.IsPasswordRecoveryDisabled">نمره وضعیت غیرفعال شدن بازیابی رمز عبور</label>
                <input type="range" asp-for="Command.IsPasswordRecoveryDisabled" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showPasswordRecoveryDisabled" onclick="toggleTextInput('showPasswordRecoveryDisabled', 'passwordRecoveryDisabledContainer')">
                <label for="showPasswordRecoveryDisabled">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="passwordRecoveryDisabledContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.IsPasswordRecoveryDisableddescription">
                <span asp-validation-for="Command.IsPasswordRecoveryDisableddescription" class="error"></span>
            </div>
        </div>

        <!-- Auxiliary Port Disabled Status -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.IsAuxiliaryPortDisabled">نمره وضعیت غیرفعال شدن پورت کمکی</label>
                <input type="range" asp-for="Command.IsAuxiliaryPortDisabled" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showAuxiliaryPortDisabled" onclick="toggleTextInput('showAuxiliaryPortDisabled', 'auxiliaryPortDisabledContainer')">
                <label for="showAuxiliaryPortDisabled">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="auxiliaryPortDisabledContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.IsAuxiliaryPortDisableddescription">
                <span asp-validation-for="Command.IsAuxiliaryPortDisableddescription" class="error"></span>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <!-- Root Login Auxiliary Disabled Status -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.IsRootLoginAuxDisabled">نمره وضعیت غیرفعال شدن ورود ریشه کمکی</label>
                <input type="range" asp-for="Command.IsRootLoginAuxDisabled" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showRootLoginAuxDisabled" onclick="toggleTextInput('showRootLoginAuxDisabled', 'rootLoginAuxDisabledContainer')">
                <label for="showRootLoginAuxDisabled">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="rootLoginAuxDisabledContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.IsRootLoginAuxDisableddescription">
                <span asp-validation-for="Command.IsRootLoginAuxDisableddescription" class="error"></span>
            </div>
        </div>

        <!-- Diagnostic Port Disabled Status -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.IsDiagnosticPortDisabled">نمره وضعیت غیرفعال شدن پورت تشخیصی</label>
                <input type="range" asp-for="Command.IsDiagnosticPortDisabled" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showDiagnosticPortDisabled" onclick="toggleTextInput('showDiagnosticPortDisabled', 'diagnosticPortDisabledContainer')">
                <label for="showDiagnosticPortDisabled">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="diagnosticPortDisabledContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.IsDiagnosticPortDisableddescription">
                <span asp-validation-for="Command.IsDiagnosticPortDisableddescription" class="error"></span>
            </div>
        </div>
    </div>
    <!-- USB Port Disabled Status -->
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Command.IsUSBPortDisabled">نمره وضعیت غیرفعال شدن پورت USB</label>
            <input type="range" asp-for="Command.IsUSBPortDisabled" min="0" max="100" />
        </div>
        <div class="form-group">
            <input type="checkbox" id="showUSBPortDisabled" onclick="toggleTextInput('showUSBPortDisabled', 'usbPortDisabledContainer')">
            <label for="showUSBPortDisabled">افزودن توضیحات</label>
        </div>
        <div class="form-group" id="usbPortDisabledContainer" style="display:none;">
            <input type="text" class="form-control" asp-for="Command.IsUSBPortDisableddescription">
            <span asp-validation-for="Command.IsUSBPortDisableddescription" class="error"></span>
        </div>
    </div>

    <!-- Craft Interface Disabled Status -->
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Command.IsCraftInterfaceDisabled">نمره وضعیت غیرفعال شدن رابط کاربری</label>
            <input type="range" asp-for="Command.IsCraftInterfaceDisabled" min="0" max="100" />
        </div>
        <div class="form-group">
            <input type="checkbox" id="showCraftInterfaceDisabled" onclick="toggleTextInput('showCraftInterfaceDisabled', 'craftInterfaceDisabledContainer')">
            <label for="showCraftInterfaceDisabled">افزودن توضیحات</label>
        </div>
        <div class="form-group" id="craftInterfaceDisabledContainer" style="display:none;">
            <input type="text" class="form-control" asp-for="Command.IsCraftInterfaceDisableddescription">
            <span asp-validation-for="Command.IsCraftInterfaceDisableddescription" class="error"></span>
        </div>
    </div>


    <br>

    <div class="row">
        <!-- LCD Menu Disabled Status -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.IsLCDMenuDisabled">نمره وضعیت غیرفعال شدن منوی LCD</label>
                <input type="range" asp-for="Command.IsLCDMenuDisabled" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showLCDMenuDisabled" onclick="toggleTextInput('showLCDMenuDisabled', 'lcdMenuDisabledContainer')">
                <label for="showLCDMenuDisabled">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="lcdMenuDisabledContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.IsLCDMenuDisableddescription">
                <span asp-validation-for="Command.IsLCDMenuDisableddescription" class="error"></span>
            </div>
        </div>

        <!-- Reset Button Disabled Status -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.IsResetButtonDisabled">نمره وضعیت غیرفعال شدن دکمه ریست</label>
                <input type="range" asp-for="Command.IsResetButtonDisabled" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showResetButtonDisabled" onclick="toggleTextInput('showResetButtonDisabled', 'resetButtonDisabledContainer')">
                <label for="showResetButtonDisabled">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="resetButtonDisabledContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.IsResetButtonDisableddescription">
                <span asp-validation-for="Command.IsResetButtonDisableddescription" class="error"></span>
            </div>
        </div>
    </div>

    <br>

    <div class="row">
        <!-- Unused Interfaces Disabled Status -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.AreUnusedInterfacesDisabled">نمره وضعیت غیرفعال شدن اینترفیس‌های بلااستفاده</label>
                <input type="range" asp-for="Command.AreUnusedInterfacesDisabled" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showUnusedInterfacesDisabled" onclick="toggleTextInput('showUnusedInterfacesDisabled', 'unusedInterfacesDisabledContainer')">
                <label for="showUnusedInterfacesDisabled">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="unusedInterfacesDisabledContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.AreUnusedInterfacesDisableddescription">
                <span asp-validation-for="Command.AreUnusedInterfacesDisableddescription" class="error"></span>
            </div>
        </div>

        <!-- Config File Encrypted Status -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.IsConfigFileEncrypted">نمره وضعیت رمزگذاری فایل پیکربندی</label>
                <input type="range" asp-for="Command.IsConfigFileEncrypted" min="0" max="100" />
            </div>
            <div class="form-group">
                <input type="checkbox" id="showConfigFileEncrypted" onclick="toggleTextInput('showConfigFileEncrypted', 'configFileEncryptedContainer')">
                <label for="showConfigFileEncrypted">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="configFileEncryptedContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.IsConfigFileEncrypteddescription">
                <span asp-validation-for="Command.IsConfigFileEncrypteddescription" class="error"></span>
            </div>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Command.FinallDescription" class="control-label">توضیحات</label>
            <input type="text" class="form-control" asp-for="Command.FinallDescription">
            <span  class="error"></span>
        </div>
    </div>


    <div class="modal-footer">        
        <input type="hidden" asp-for="Command.ChecklistId" />

        <button type="submit" class="btn btn-info waves-effect waves-light">بعدی</button>
    </div>
</form>

<script>
    function toggleTextInput(checkboxId, containerId) {
        var checkBox = document.getElementById(checkboxId);
        var textInputContainer = document.getElementById(containerId);
        if (checkBox.checked) {
            textInputContainer.style.display = "block";
        } else {
            textInputContainer.style.display = "none";
        }
    }
</script>
