@page
@model VisitCompany.Pages.checklist.CreateCheckGenProffModel
@{
    Layout = "Shared/_AdminLayout";

}


<div class="modal-header">
    <h4 class="modal-title">چک لیست ارزیابی شرکت ها</h4>
</div>
<form method="post" asp-page-handler="Edit" enctype="multipart/form-data">
    <div class="modal-body">
        <div class="row">

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.NetworkLogicalPhysicalMapStatusScore">نمره دهی شبکه منطقی و فیزیکی</label>
                    <input type="range" asp-for="Command.NetworkLogicalPhysicalMapStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showNetworkLogicalPhysicalMapStatus" onclick="toggleTextInput('showNetworkLogicalPhysicalMapStatus', 'networkLogicalPhysicalMapStatusContainer')">
                    <label for="showNetworkLogicalPhysicalMapStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="networkLogicalPhysicalMapStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.NetworkLogicalPhysicalMapStatus">
                    <span asp-validation-for="Command.NetworkLogicalPhysicalMapStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <!-- Physical Assets Inventory Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.PhysicalAssetsInventoryStatusScore">نمره دهی اموال فیزیکی</label>
                    <input type="range" asp-for="Command.PhysicalAssetsInventoryStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showPhysicalAssetsInventoryStatus" onclick="toggleTextInput('showPhysicalAssetsInventoryStatus', 'physicalAssetsInventoryStatusContainer')">
                    <label for="showPhysicalAssetsInventoryStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="physicalAssetsInventoryStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.PhysicalAssetsInventoryStatus">
                    <span asp-validation-for="Command.PhysicalAssetsInventoryStatus" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.ZoningStatusScore">نمره دهی زونینگ</label>
                    <input type="range" asp-for="Command.ZoningStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showZoningStatus" onclick="toggleTextInput('showZoningStatus', 'zoningStatusContainer')">
                    <label for="showZoningStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="zoningStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.ZoningStatus">
                    <span asp-validation-for="Command.ZoningStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <!-- Access Control Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.AccessControlStatusScore">نمره دهی کنترل دسترسی</label>
                    <input type="range" asp-for="Command.AccessControlStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showAccessControlStatus" onclick="toggleTextInput('showAccessControlStatus', 'accessControlStatusContainer')">
                    <label for="showAccessControlStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="accessControlStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.AccessControlStatus">
                    <span asp-validation-for="Command.AccessControlStatus" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.DevelopmentTestOperationsControlStatusScore">نمره دهی کنترل عملیات تست و توسعه</label>
                    <input type="range" asp-for="Command.DevelopmentTestOperationsControlStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showDevelopmentTestOperationsControlStatus" onclick="toggleTextInput('showDevelopmentTestOperationsControlStatus', 'developmentTestOperationsControlStatusContainer')">
                    <label for="showDevelopmentTestOperationsControlStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="developmentTestOperationsControlStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.DevelopmentTestOperationsControlStatus">
                    <span asp-validation-for="Command.DevelopmentTestOperationsControlStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <!-- Remote Administrative Access Status -->
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.RemoteAdministrativeAccessStatusScore">نمره دهی دسترسی مدیریت از راه دور</label>
                    <input type="range" asp-for="Command.RemoteAdministrativeAccessStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showRemoteAdministrativeAccessStatus" onclick="toggleTextInput('showRemoteAdministrativeAccessStatus', 'remoteAdministrativeAccessStatusContainer')">
                    <label for="showRemoteAdministrativeAccessStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="remoteAdministrativeAccessStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.RemoteAdministrativeAccessStatus">
                    <span asp-validation-for="Command.RemoteAdministrativeAccessStatus" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Command.SecureCodingConfigStatusScore">نمره دهی پیکربندی کدنویسی امن</label>
                    <input type="range" asp-for="Command.SecureCodingConfigStatusScore" min="0" max="100" />
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showSecureCodingConfigStatus" onclick="toggleTextInput('showSecureCodingConfigStatus', 'secureCodingConfigStatusContainer')">
                    <label for="showSecureCodingConfigStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="secureCodingConfigStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.SecureCodingConfigStatus">
                    <span asp-validation-for="Command.SecureCodingConfigStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.SecurityEvaluationStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.SecurityEvaluationStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showSecurityEvaluationStatus" onclick="toggleTextInput('showSecurityEvaluationStatus', 'securityEvaluationStatusContainer')">
                    <label for="showSecurityEvaluationStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="securityEvaluationStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.SecurityEvaluationStatus">
                    <span asp-validation-for="Command.SecurityEvaluationStatus" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.BackupStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.BackupStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showBackupStatus" onclick="toggleTextInput('showBackupStatus', 'backupStatusContainer')">
                    <label for="showBackupStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="backupStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.BackupStatus">
                    <span asp-validation-for="Command.BackupStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.SessionExpirationStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.SessionExpirationStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showSessionExpirationStatus" onclick="toggleTextInput('showSessionExpirationStatus', 'sessionExpirationStatusContainer')">
                    <label for="showSessionExpirationStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="sessionExpirationStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.SessionExpirationStatus">
                    <span asp-validation-for="Command.SessionExpirationStatus" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.AntivirusStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.AntivirusStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showAntivirusStatus" onclick="toggleTextInput('showAntivirusStatus', 'antivirusStatusContainer')">
                    <label for="showAntivirusStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="antivirusStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.AntivirusStatus">
                    <span asp-validation-for="Command.AntivirusStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.UpdateStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.UpdateStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showUpdateStatus" onclick="toggleTextInput('showUpdateStatus', 'updateStatusContainer')">
                    <label for="showUpdateStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="updateStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.UpdateStatus">
                    <span asp-validation-for="Command.UpdateStatus" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.WirelessNetworkStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.WirelessNetworkStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showWirelessNetworkStatus" onclick="toggleTextInput('showWirelessNetworkStatus', 'wirelessNetworkStatusContainer')">
                    <label for="showWirelessNetworkStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="wirelessNetworkStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.WirelessNetworkStatus">
                    <span asp-validation-for="Command.WirelessNetworkStatus" class="error"></span>
                </div>
            </div>
        </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div>
                    <label asp-for="Command.PasswordPolicyStatusScore">نمره دهی</label>
                    <input type="range" asp-for="Command.PasswordPolicyStatusScore" min="0" max="100" />
                </div>
            </div>
            <div class="form-group">
                <input type="checkbox" id="showPasswordPolicyStatus" onclick="toggleTextInput('showPasswordPolicyStatus', 'passwordPolicyStatusContainer')">
                <label for="showPasswordPolicyStatus">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="passwordPolicyStatusContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.PasswordPolicyStatus">
                <span asp-validation-for="Command.PasswordPolicyStatus" class="error"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div>
                    <label asp-for="Command.DataDestructionStatusScore">نمره دهی</label>
                    <input type="range" asp-for="Command.DataDestructionStatusScore" min="0" max="100" />
                </div>
            </div>
            <div class="form-group">
                <input type="checkbox" id="showDataDestructionStatus" onclick="toggleTextInput('showDataDestructionStatus', 'dataDestructionStatusContainer')">
                <label for="showDataDestructionStatus">افزودن توضیحات</label>
            </div>
            <div class="form-group" id="dataDestructionStatusContainer" style="display:none;">
                <input type="text" class="form-control" asp-for="Command.DataDestructionStatus">
                <span asp-validation-for="Command.DataDestructionStatus" class="error"></span>
            </div>
        </div>
    </div>
    <br>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.LogManagementStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.LogManagementStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showLogManagementStatus" onclick="toggleTextInput('showLogManagementStatus', 'logManagementStatusContainer')">
                    <label for="showLogManagementStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="logManagementStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.LogManagementStatus">
                    <span asp-validation-for="Command.LogManagementStatus" class="error"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div>
                        <label asp-for="Command.ClockSynchronizationStatusScore">نمره دهی</label>
                        <input type="range" asp-for="Command.ClockSynchronizationStatusScore" min="0" max="100" />
                    </div>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="showClockSynchronizationStatus" onclick="toggleTextInput('showClockSynchronizationStatus', 'clockSynchronizationStatusContainer')">
                    <label for="showClockSynchronizationStatus">افزودن توضیحات</label>
                </div>
                <div class="form-group" id="clockSynchronizationStatusContainer" style="display:none;">
                    <input type="text" class="form-control" asp-for="Command.ClockSynchronizationStatus">
                    <span asp-validation-for="Command.ClockSynchronizationStatus" class="error"></span>
                </div>
            </div>
        </div>
   
 
        
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Command.FinallDescription" class="control-label">توضیحات</label>
                <input type="text" class="form-control" asp-for="Command.FinallDescription">
                <span  class="error"></span>
            </div>
        </div>
    </div>
    </div>

    <input type="hidden" asp-for="Command.ChecklistId" />

    <div class="modal-footer">
        <button type="submit" class="btn btn-info waves-effect waves-light">بعدی</button>
    </div>
</form>

<script>
    function toggleTextInput(checkboxId, containerId) {
        var checkBox = document.getElementById(checkboxId);
        var textInputContainer = document.getElementById(containerId);
        if (checkBox.checked) {
            textInputContainer.style.display = "block";
        } else {
            textInputContainer.style.display = "none";
        }
    }
</script>

