@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model AccountModel
@{
    ViewData["Title"] = "ورود و ثبت نام";
}

@if (@TempData["SuccessfuleMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessfuleMessage"]
    </div>
}


<div class="page-content-area">
    <div class="container " style="display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; ">
        <div class="row">
            <div class="col-lg-12">
                <div class="">
                    <div class="">
                        <div class="row ">
                            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">

                                @if (Model.LoginMessage != null)
                                {
                                    <div class="alert alert-danger">
                                        @Model.LoginMessage
                                    </div>
                                }

                                <form method="post" asp-page-handler="Login" class="row row-eq-height lockscreen mt-5 mb-5">
                                    @* تغییر اول که باید ارجاع بشه به متد مربوطه در همین صفحه در بک *@
                                       @* <form > *@
                                    <div class="lock-image col-12 col-sm-5" style="display: flex; justify-content: center; align-items: center; height:240px; margin-top:54px;margin:auto;border-radius: 30px;">

                                        <img src="~/Theme/assets/dist/images/سامانه ثبت اطلاعات و ارزیابی تطبیق کسب‌و‌کارهای فضای مجازی.png" alt="" class="mtn" style=" width: 235px; margin-right: -4px; margin-top: 265px;">
                                    </div>
                                    <div class="login-form col-12 col-sm-5" style="margin: auto">
                                        <div class="form-group" style="margin-top:19px">
                                            <input class="form-control " type="number" id="emailaddress" required="" name="username" placeholder="شماره پرسنلی "> @* name="username" type="number" تغیر بعدی *@
                                        </div>

                                        <div class="form-group ">
 
                                            <input class="form-control" type="password" required="" id="password" name="mobile" placeholder=" شماره تماس  "> @* name="mobile" تغییر بعدی *@
                                        </div>

                                        <div class="form-group ">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="checkbox-signin" checked="">
                                            </div>
                                        </div>

                                        <div class="form-group mb-0">
                                            <button class="btn btn-primary form-control" style="background-color: #413382; color: white;" type="submit">  دریافت کد </button>
                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $.validator.addMethod('regex', function (value, element, regexp) {
            return this.optional(element) || regexp.test(value);
        }, 'لطفاً یک مقدار معتبر وارد کنید.');

        $('form').validate({
            rules: {
                'RegisterAccount.Password': {
                    required: true,
                    minlength: 8,
                    regex: /(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[\W_])/
                },
                'RegisterAccount.Repassword': {
                    equalTo: '[name="RegisterAccount.Password"]'
                }
            },
            messages: {
                'RegisterAccount.Password': {
                    required: 'رمز عبور الزامی است',
                    minlength: 'رمز عبور باید حداقل 8 کاراکتر باشد',
                    regex: 'رمز عبور باید شامل حرف بزرگ، حرف کوچک، عدد و کاراکتر ویژه باشد'
                },
                'RegisterAccount.Repassword': {
                    equalTo: 'رمز عبور و تایید رمز عبور باید مطابقت داشته باشند.'
                }
            }
        });
    });
</script>

