<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    @if (ViewData["Title"] != null)
    {
        <title>ViewData["Title"]- لوازم خانگی حمید</title>
    }
    else
    {
        <title> لوازم خانگی حمید</title>
    }

    <meta name="keywords" content="@ViewData["keywords"]"/>
    <meta name="description" content="@ViewData["metaDescription"]"/>

    <!-- Vendor CSS -->
    <link href="~/Theme/assets/css/vendors.css" rel="stylesheet">
    <!-- Main CSS -->
    <link href="~/Theme/assets/css/style.css" rel="stylesheet">
    <link href="~/Theme/assets/dist/css/main1.css" rel="stylesheet"> 
    <link href="~/Theme/assets/dist/icon front/Header Text.svg" rel="stylesheet"> 
    <link href="~/Theme/assets/dist/icon front/menu.svg" rel="stylesheet">
    <link href="~/Theme/assets/dist/icon front/user.svg" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="~/Theme/assets/css/Custom.css" rel="stylesheet">
</head>

<body style="background-image:url('/Theme/assets/img/backgrounds/poster.png');background-size: 100% 100%;
	background-position: center center;">
<!--====================  header area ====================-->
<div class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-wrapper d-none d-lg-flex">
                       
                      




                </div>

                 <div class="header-mobile-navigation d-block d-lg-none"> 
                     <div class="row align-items-center"> 
                         <div class="col-6 col-md-6">
                             <div class="header-logo"> 
                                <a href="index.html"> 
                                     <img src="~/Theme/assets/img/logo.png" class="img-fluid" alt="">
                                </a> 
                             </div> 
                         </div> 
                         <div class="col-6 col-md-6"> 
                            <div class="mobile-navigation text-right"> 
                                 <div class="header-icon-wrapper"> 
                                     <ul class="icon-list justify-content-end"> 
                                         <li> 
                                             <div class="header-cart-icon">
                                                 <a href="cart.html"> 
                                                     <i class="ion-bag"></i> 
                                                     <span class="counter">3</span> 
                                                 </a> 
                                             </div> 
                                         </li> 
                                         <li> 
                                             <a href="javascript:void(0)" class="mobile-menu-icon" 
                                                id="mobile-menu-trigger"> 
                                                 <i class="fa fa-bars"></i> 
                                             </a> 
                                         </li> 
                                    </ul> 
                                 </div> 
                             </div> 
                         </div> 
                     </div> 
                 </div> 

            </div>
        </div>
    </div>
</div>
<!--====================  End of header area  ====================-->

@RenderBody()


<!--====================  footer area ====================-->

    @RenderSection("Scripts", required: false)

<!-- scroll to top  -->
<div id="scroll-top">
    <span>Back to top</span><i class="ion-chevron-right"></i><i class="ion-chevron-right"></i>
</div>
<!-- end of scroll to top -->
<!-- Vendor JS -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/Theme/assets/js/vendors.js"></script>

<!-- Active JS -->
<script src="~/Theme/assets/js/active.js"></script>
<script src="~/Theme/assets/js/plugins.js"></script>
<script src="~/Theme/assets/js/Custom.js"></script>

<script>
    $(document).ready(function () {
        updateCart ();
        });

</script>

</body>

</html>